body.mobile-menu-open{
  @media screen and (max-width: 767px){
    overflow-y: hidden;
  }
}

.inline-block_middle{
  display: inline-block;
  vertical-align: middle;
}

.main-header{
  z-index: 1;
  font-family: 'Dosis', sans-serif;
  color: #ffffff;
  background-color:#343434;
  padding: 7px 0;
  position: relative;
  width: 100%;
  .container-fluid {
    padding-right: 35px;
    padding-left: 24px;
  }
  &.open{
    .mobile-sidebar{
      right: 0;
    }
    .mobile-sidebar,
    .main-header__overlay{
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }
  &__overlay{
    @media screen and (max-width: 767px){
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.6);
      transition: all 500ms ease;
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      z-index: 9998;
    }
    display: none;
  }
  a{
    color: #ffffff;
    font-weight: 700;
    &:hover,
    &:focus{
      opacity: 0.6;
    }
  }
  .logo{
    width: 254px;
    padding-bottom: 5px;
    img{
      width: 100%;
    }
    .logo_a {
      float: left;
    }
    .pucon-state {
      float: right;
      margin-top: 17px;
      font-size: 18px;
      color: rgb(220,135,0);
      font-weight: bold;
      border-left: 1px solid rgb(220,135,0);
      height: 29px;
      padding-left: 14px;
      padding-top: 5px;
      cursor: pointer;
      .glyphicon-triangle-bottom{
        font-size: 12px;
      }
      .dropdown-menu {
        background-color: rgba(0,0,0,0.6);
        &>li>a{
          color: white;
          &:hover{
            background-color: rgba(0,0,0,1);
            opacity: 1;
          }
        }

      }
    }

  }
  nav{
    padding: 20px 0;
    text-rendering: optimizeLegibility;
    @media screen and (max-width: 991px){
      border-top: 1px solid #70a2d6;
      margin-top: 10px;
    }
    @media screen and (max-width: 767px){
      margin: 0 -11px;
    }
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: center;
      @media screen and (max-width: 991px){
        text-align: left;
      }
    }
    li{
      @extend .inline-block_middle;
      margin-right: 70px;
      font-size: 19px;
      &:last-child {
        margin-right: 0;
      }
      &:first-child {
        margin-left: 30px;
      }
      @media screen and (max-width: 1300px){
        margin-right: 32px;
      }
      @media screen and (max-width: 1040px){
        margin-right: 20px;
      }
      @media screen and (max-width: 767px){
        display: block;
        margin: 0;
        a{
          display: block;
          padding: 15px 10px;
          text-align: center;
        }
      }
    }
  }
  &__divider{
    height: 18px;
    width: 1px;
    background: #6193b9;
    @extend .inline-block_middle;
    margin: 0 12px 0 8px;
    @media screen and (max-width: 767px){
      display: none;
    }
  }
  &__right-side{
    padding: 19px 0;
    text-align: right;
    position: relative;
    .info-btn{
      @extend .inline-block_middle;
      width: 14px;
      height: 14px;
      background: url(../../../images/information-symbol.svg) no-repeat;
      background-size: contain;
      cursor: pointer;
      transition: all .3s ease;
      margin-right: 7px;
      &:hover,
      &:focus{
        opacity: 0.6;
      }
    }
    .dropdown{
      @extend .inline-block_middle;
      font-size: 12px;
      &>span{
        cursor: pointer;
        transition: all .3s linear;
      }
    }
    .dropdown-menu{
      border-radius: 0;
      background-color: rgba(0,0,0,0.6);
      box-shadow: none;
      min-width: 0;
      left: auto;
      right: 0;
      @media screen and (max-width: 767px){
        top: 130%;
      }
      &>li{
        &>a{
          color: #ffffff;
          &:hover,
          &:focus{
            background-color: rgba(0,0,0,1);
            opacity: 1;
          }
        }
      }
    }
    .language{
      margin-right: 11px;
      img{
        max-width: 25px;
        height: 16px;
        object-fit: contain;
        object-position: center;
      }
      .dropdown-menu{
        @media screen and (max-width: 767px){
          right: -51px;
        }
        img{
          margin-right: 3px;
        }
      }
    }
    .currency{
      @media screen and (max-width: 767px){
        margin-right: 40px;
        .dropdown-menu{
          right: -14px;
        }
      }
    }
    .profile{
      @media screen and (max-width: 767px){
        display: block;
        text-align: center;
        .dropdown-menu{
          position: relative;
          top: auto;
          right: auto;
          display: block;
          float: none;
          margin: 0 -11px;
          font-size: 19px;
          text-align: center;
          border: none;
          z-index: 1;
          &>li>a{
            font-weight: 700;
          }
        }
      }
      form{
        display: inline;
      }
      button{
        background: transparent;
        border: none;
        outline: none;
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857;
        color: #ffffff;
        width: 100%;
        text-align: left;
        white-space: nowrap;
        transition: all .3s linear;
        @media screen and (max-width: 767px){
          text-align: center;
          font-weight: 700;
        }
        &:hover{
          background-color: #e68387;
        }  
      }
    }
    .auth{
      font-size: 15px;
      font-weight: 700;
      @extend .inline-block_middle;
      @media screen and (max-width: 767px){
        display: block;
        font-size: 19px;
        margin: 20px 0 10px;
        text-align: center;
      }
    }
    .shopping-cart{
      position: relative;
      @extend .inline-block_middle;
      margin-left: 15px;
      @media screen and (max-width: 1015px)and (min-width: 991px){
        margin-left: 5px;
      }
      text-align: center;
      font-size: 11px;
      font-weight: 700;
      color: #ffffff;
      font-family: 'PT-Sans', sans-serif;
      @media screen and (max-width: 767px){
        position: absolute;
        top: 10px;
        right: 5px;
      }
      img{
        width: 24px;
      }
      span{
        position: absolute;
        width: 15px;
        padding: 2px 0;
        background-color: #b5393e;
        border-radius: 50%;
        top: -7px;
        right: -4px;
        line-height: 1;
        display: block;
      }
    }
  }
  .mobile-sidebar{
    display: inline;
    &>header{
      display: none;
      position: relative;
      padding: 15px 0 12px;
      border-bottom: 1px solid #70a2d6;
    }
    &__logo{
      width: 120px;
      margin: auto;
      img{
        width: 100%;
      }
    }
    &__close-btn{
      position: absolute;
      left: 11px;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 15px;
      width: 15px;
      padding: 0;
      background: transparent;
      border: none;
      outline: none;
      &:before,
      &:after{
        content: '';
        position: absolute;
        top: 0;
        height: 18px;
        width: 2px;
        background-color: #ffffff;
      }
      &:before{
        left: 0;
        transform-origin: 2px 1px 0;
        transform: rotate(-45deg);
      }
      &:after{
        right: 0;
        transform-origin: 0 0 0;
        transform: rotate(45deg);
      }
    }
    @media screen and (max-width: 767px){
      width: 250px;
      overflow-y: auto;
      display: block;
      position: fixed;
      top: 0;
      bottom: 0;
      right: -120%;
      transition: all 500ms ease;
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      background-color:rgba(0,0,0,0.8);
      z-index: 9999;
      &>header{
        display: block;
      }
    }
  }
  .burger{
    width: 20px;
    height: 8px;
    position: relative;
    cursor: pointer;
    display: none;
    @media screen and (max-width: 767px){
      display: block;
      position: absolute;
      right: 11px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    span{
      width: 100%;
      height: 0;
      background-color: #ffffff;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      display: block;
      right: 0;
      margin: auto;
      &:before,
      &:after{
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #ffffff;
        content: '';
        left: 0;
        right: 0;
      }
      &:before{
        top: -4px;
      }
      &:after{
        bottom: -4px;
      }
    }
  }
}