.main-footer {
  color: #fff;
  overflow: hidden;
  background-color: #3f284d;
  padding: 30px 0 22px;
  position: relative;
}

@media (max-width: 991px) {
  .foot-block {
    margin-bottom: 20px;
  }
}

.made-with{
  font-size: 13px;
  margin-top: 100px;
  @media screen and (max-width: 991px){
    margin: 50px 0;
  }
  @media screen and (max-width: 767px){
    display: none;
  }
}

.heart{
  position: relative;
  width: 22px;
  height: 19px;
  opacity: 0.6;
  margin-left: 5px;
  vertical-align: middle;
  display: inline-block;
  &:before,
  &:after{
    position: absolute;
    content: "";
    left: 11px;
    top: 0;
    width: 11px;
    height: 17px;
    background: #ffffff;
    border-radius: 11px 11px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  &:after{
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }
}

.main-footer .title {
  display: block;
  margin: 0 0 13px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.main-footer .footer-nav {
  overflow: hidden;
}

.main-footer .footer-nav ul {
  overflow: hidden;
}

.main-footer .footer-nav ul a {
  color: #fff;
}

.main-footer .footer-nav ul a:hover {
  color: #eab011;
}

.main-footer .address {
  margin: 0;
  font-style: normal;
}

.main-footer .address span {
  margin-right: 3%;
}

.main-footer .address span:last-child {
  margin-right: 0
}

.main-footer .address span:first-child {
  display: block;
  margin-right: 0;
}

.main-footer .address .tel {
  color: #fff;
  pointer-events: none;
}

@media (max-width: 1024px) {
  .main-footer .address .tel {
    pointer-events: inherit;
  }
}

.main-footer .address .tel:hover {
  color: #eab011;
}

.social-links ul{
  padding: 0;
  margin: 0;
  list-style: none
}

.social-links ul:after{
  display: table;
  content: '';
  clear: both;
}

.social-links li{
  float: left;
  margin-right: 6px;
}

.social-links a{
  display: block;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: #CBD9DE;
  text-align: center;
}

.main-footer .contact-form-wrapper{
  max-width: 413px;
  @media (max-width: 1151px) and (min-width: 991px ) {
    width: 413px;
  }
}


.main-footer .contact-form {
  margin: 0;
  position: relative;
  padding: 0 55px 0 0;
}

@media (max-width: 767px) {
  .main-footer .contact-form {
    padding: 0;
  }
}

.main-footer .contact-form label {
  float: left;
  min-width: 120px;
  margin: 0 3px 0 0;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

@media (max-width: 767px) {
  .main-footer .contact-form label {
    float: none;
    margin: 0 0 3px;
  }
}

.main-footer .contact-form .sub-row {
  overflow: hidden;
  margin: 0 0 5px;
}

.main-footer .contact-form .text-field {
  overflow: hidden;
}

.main-footer .contact-form .text-field.captcha-field{
  height: 62px;
}

.main-footer .contact-form .form-control {
  height: 26px;
  color: #fff;
  border-radius: 0;
  padding: 3px 6px;
  background: #707070;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.main-footer .contact-form .form-control::-webkit-input-placeholder {
  color: #fff;
}

.main-footer .contact-form .form-control::-moz-placeholder {
  opacity: 1;
  color: #fff;
}

.main-footer .contact-form .form-control:-moz-placeholder {
  color: #fff;
}

.main-footer .contact-form .form-control:-ms-input-placeholder {
  color: #fff;
}

.main-footer .contact-form .form-control.placeholder {
  color: #fff;
}

.main-footer .contact-form textarea.form-control {
  resize: none;
  height: 139px;
  overflow: auto;
}

.main-footer .contact-form .btn-success {
  width: 47px;
  height: 30px;
  padding: 0 5px;
  font-size: 12px;
  line-height: 30px;
  font-weight: 700;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 0;
}

.main-footer .contact-form .g-recaptcha{
  -webkit-transform: scale(0.79);
  transform: scale(0.79);
  -webkit-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
}

@media (max-width: 767px) {
  .main-footer .contact-form .btn-success {
    position: static;
  }
}

.main-footer .footer {
  padding: 20px 0;
  overflow: hidden;
  background: #113232;
}

@media (max-width: 767px) {
  .main-footer .footer {
    padding: 10px 0;
    text-align: center;
  }
}

.main-footer .email {
  color: #7a8c8c;
}

.main-footer .email:hover {
  color: #eab011;
}