.export-button{
  background: #343b4e url("../images/phone.png") no-repeat;
  background-size: 16px 20px;
  background-position: 11px center;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  padding: 8px 18px 8px 38px;
  &:hover,
  &:focus{
    color: #fff;
  }
  &:active{
    background-image: url("../images/phone.png");
  }
}