.program-schedule {
  overflow: hidden;
  background: #FCB600;
  border: 1px solid #BFBDBD;
  box-shadow: 0 0 12px 0 rgba(45, 44, 44, 0.23);
  position: relative;
  z-index: 20;
  float: right;
  padding: 7px 23px 15px;
  margin: -140px 0 0;
  text-align: right;
}

.program-schedule:after{
  display: table;
  content: '';
  clear: both;
}

.program-schedule p{
  margin: 0 0 16px;
}

.program-schedule p span:before{
  content: '$';
  margin-right: 4px;
}
.program-schedule p .brl-curr:before{
  content: 'R$';
}

.program-schedule .btn{
  display: inline-block;
  vertical-align: middle;
}

.program-schedule .btn-success{
  background: transparent;
  color: #000;
  text-transform: none;
  padding: 0 0 0 23px;
  margin-right: 10px;
  position: relative;
  &:before,
  &:after{
    position: absolute;
    content: "";
  }
  &:before{
    width: 15px;
    height: 15px;
    background: url(../../images/calendar.svg) no-repeat;
    background-size: contain;
    background-position: center center;
    left: 0;
  }
  &:after{
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    transition: all .1s linear;
    height: 1px;
    background: #474747;
    width: 0;
    right: 0;
    left: auto;
    bottom: -5px;
    pointer-events: none;
  }
  &:hover,
  &:focus{
    background: transparent;
    color: #000;
    &:after{
      width: 100%;
      left: 0;
    }
  }
}

.program-schedule .btn-primary {
  font-size: 15px;
  font-weight: 700;
  color: #f19300;
  padding: 9px 10px;
  background: #fff;
}

.program-schedule .btn-primary:hover,
.program-schedule .btn-primary:focus{
  color: #f19300;
  background: #e2dcdc;
}

.program-schedule .btn-primary:hover {
  opacity: 0.9;
}



@media screen and (max-width: 1023px) {
  .program-schedule {
    margin: -200px 0 0;
  }
}

@media screen and (max-width: 767px){
  .program-schedule{
    margin-top: -160px;
    margin-right: 10px;
  }
}