.TA_selfserveprop #CDSWIDSSP .widSSPData .widSSPBranding dt.widSSPTagline,
.TA_selfserveprop #CDSWIDSSP .widSSPData .widSSPH18,
.TA_selfserveprop #CDSWIDSSP.widSSPnarrow .widSSPData .widSSPH11,
.TA_selfserveprop #CDSWIDSSP.widSSPnarrow .widSSPData .widSSPAll,
.TA_selfserveprop #CDSWIDSSP .widSSPData .widSSPLegal{display:none;}
.TA_selfserveprop #CDSWIDSSP .widSSPData{margin-top:-7px;}
.TA_selfserveprop #CDSWIDSSP .widSSPData .widSSPBranding{border-bottom:none;width:34px;left:44px;top:1px;overflow:hidden;position:absolute;}
.TA_selfserveprop #CDSWIDSSP .widSSPData{background-color:transparent;}
@media (max-width:767px){.TA_selfserveprop #CDSWIDSSP .widSSPData .widSSPBranding{left:8px;}
}
#m-box-2 .termas .opiniones{z-index:1;}
.TA_selfserveprop #CDSWIDSSP .widSSPData .widSSPSummary a{position:absolute;height:26px;color:transparent;white-space:nowrap;overflow:hidden;width:100px;right:73px;display:block;}
.TA_selfserveprop #CDSWIDSSP.widSSPnarrow .widSSPData .widSSPTrvlRtng .widSSPOverall{text-align:center;}
.TA_selfserveprop #CDSWIDSSP .widSSPData .widSSPTrvlRtng .widSSPOverall img{margin:3px 6px 4px 30px;}
.TA_selfserveprop #CDSWIDSSP .widSSPData .widSSPTrvlRtng .widSSPOverall div{white-space:nowrap;overflow:hidden;position:absolute;right:0;left:0;margin:6px auto 0;}