.you-should-take{
  padding-left: 9px;
  &__list{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item{
    position: relative;
    &:before{
      content: "";
      width: 3px;
      height: 3px;
      background-color: #089f02;
      border-radius: 50%;
      position: absolute;
      left: -9px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
}