@media screen and (min-width: 992px){
    .your-reservation.activity.add>.row{
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .your-reservation.activity #activity-single-sidebar{
        overflow: hidden;
        position: relative;
    }
    .your-reservation.activity #activity-single-sidebar .important-block:after{
        content: '';
        position: absolute;
        width: calc( 100% - 22px);
        height: 100%;
        left: 0;
        background: #ededed;
        margin: 0 11px;
    }
}

.box {
    max-width: 713px;
    padding: 15px 0;
    position: relative;
    margin: 0 0 0 30px;
}

.your-reservation .widget {
    color: #fff;
    padding: 20px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
}

.your-reservation .widget.select-box {
    background: #283C5C;
}

.your-reservation .widget.select-box .chosen-container-single .chosen-search input[type=text]{
    color: #000;
}

.your-reservation .widget.select-box .text-field {
    width: 80%;
}

.your-reservation .widget.select-box .chosen-container-single .chosen-single{
    background: #fff;
    border-color: transparent;
    padding: 1px 0 2px 11px;
    height: auto;
}

.your-reservation .widget.select-box .chosen-container .chosen-results li{
    padding: 5px 9px;
    color: #656565;
}

.your-reservation .widget.select-box .chosen-container .chosen-results li.highlighted{
    background: #eab011;
    color: #fff;
}

.your-reservation .widget.the-day {
    background: #25354D;
}

.your-reservation .widget.the-day .raised-form {
    max-width: 120px;
}

.your-reservation .widget.summary {
    background: #1A2838;
}

.your-reservation .widget ul li {
    position: relative;
    padding: 0 0 5px 20px;
}

.your-reservation .widget ul li:after {
    width: 12px;
    content: '';
    height: 12px;
    position: absolute;
    left: 0;
    top: 3px;
    right: auto;
    bottom: auto;
    background: url(../images/sprite.png) no-repeat -88px -230px;
}

.your-reservation .widget ul.chosen-results li:after{
    display: none;
}

.your-reservation .widget h2 {
    color: #fff;
    margin: 0 0 10px;
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
}

.your-reservation .widget p {
    margin: 0 0 10px;
}

.important-block {
    overflow: hidden;
    margin: 10px 0 0;
    background: #ededed;
    padding: 0 20px 300px;
}

@media (max-width: 767px) {
    .important-block {
        padding: 0 10px 20px;
    }

    .your-reservation.activity .accordion .ico {
        float: none;
        display: block;
        margin: 0 0 10px;
        position: static;
        width: 80px;
    }
}

.important-block .box ul{
    padding: 0;
    list-style: none;
}

.important-block .box ul li{
    margin: 0 0 6px;
    position: relative;
}

.important-block .box > ul li:before{
    content: "\2022";
    position: absolute;
    left: -13px;
    top: -1px;
    color: #4F4F4F;

}

.important-block .box.alert p{
    font-family: 'PT-Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #963d4c;
    margin: 5px 0 22px;
    position: relative;
}

.important-block .box.alert p:before{
    position: absolute;
    content: '';
    left: -34px;
    top: -2px;
    width: 22px;
    height: 20px;
    background: url(../images/warning.svg) no-repeat;
    background-size: contain;
}

.important-block .box.alert .title{
    font-weight: normal;
    position: relative;
}

.important-block .box.alert .title span{
    font-family: 'PT-Sans', sans-serif;
    font-weight: 700;
}

.important-block .box.tripadvisor{
    margin: 0;
    padding: 10px 0 22px;
    border-bottom: 0;
}

.important-block .box.tripadvisor #CDSWIDSSP{
    margin: auto;
}

.important-block .box.tripadvisor #CDSWIDSSP .widSSPData{
    background-color: transparent;
}

.important-block .box.tripadvisor #CDSWIDSSP .widSSPData sup{
    top: 0;
}

.important-block .box.tripadvisor #CDSWIDSSP img{
    background-color: transparent;
}

.important-block h2 {
    margin: 0;
    color: #963d4c;
    font-size: 23px;
    font-weight: bold;
    line-height: 26px;
}

.important-block .sub-title {
    color: #963d4c;
    display: block;
    font-size: 17px;
    margin: 0 0 10px;
    font-weight: 700;
    line-height: 20px;
}

.important-block .title {
    display: block;
    font-size: 15px;
    font-weight: 700;
    margin: 0 0 10px;
    line-height: 18px;
}

.important-block .list {
    overflow: hidden;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
}

.important-block .list li {
    position: relative;
    padding: 0 0 5px 10px;
}

.important-block .list li:after {
    width: 3px;
    height: 3px;
    content: '';
    background: #089f02;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 8px;
    right: auto;
    bottom: auto;
}


.faq{
    background: #ffffff;
    margin: 0 -20px 20px;
    padding: 21px 50px 12px;
}

.faq .title{
    font-size: 18px;
    color: #02A000;
    margin-bottom: 17px;
    position: relative;
}

.faq .title:before{
    content: '';
    position: absolute;
    width: 30px;
    height: 23px;
    background: url('../images/faq-icon.png') no-repeat;
    background-size: contain;
    left: -40px;
    top: -4px;
}

.important-block .faq>ul li:before{
    left: -15px;
    top: -2px;
    color: #02A000;
}

@media screen and (max-width: 991px){
    .faq{
        background: transparent;
        margin: 0 0 20px;
        padding: 21px 0 12px 30px;
    }
}

.img-tour {
    overflow: hidden;
}

.img-tour img {
    width: 100%;
    display: block;
    height: 125px;
    object-fit: cover;
}

.img-tour .row>div {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.location {
    overflow: hidden;
    padding: 20px 0 0;
}

.location header{
    padding-left: 41px;
    position: relative;
}

.location header:before{
    content: '';
    position: absolute;
    height: 35px;
    width: 30px;
    background: url(../images/location-point.svg) no-repeat;
    background-size: contain;
    left: 8px;
    top: 1px;
}

.location h3 {
    margin: 0;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
}

.location .map-holder {
    margin: 0;
}

.location img {
    width: 100%;
    display: block;
    height: auto;
}

.location p {
    margin: 3px 0 20px;
}

@media(max-width: 991px){
    .important-block{
        padding-bottom: 30px;
        margin-bottom: 35px;
    }
    .important-block .box.tripadvisor,
    .important-block .booking,
    .important-block .img-tour,
    .important-block .location{
        display: none;
    }
    .img-tour img{
        height: 234px;
    }
}

@media(max-width: 767px){
    .img-tour img{
        height: auto;
    }
}

.title-box {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
}

.title-box strong {
    display: block;
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

@media (max-width: 767px) {
    .title-box strong {
        margin: 0 0 10px;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
    }
}

.title-box p {
    margin: 0 0 20px;
}

.activity-title{
    margin-bottom: 21px;
}

.activity .activity-title h1{
    font-weight: 700;
    font-size: 38px;
    text-transform: uppercase;
    color: #283C5C;
    line-height: 1;
}

.activity-title p{
    margin: 0;
    color: #7F8590;
    text-transform: uppercase;
    font-size: 17px;
}

.activity-description{
    font-size: 14px;
    display: block;
    margin-bottom: 30px;
}

.weather-box {
    padding: 20px;
    color: #963d4c;
    font-size: 13px;
    line-height: 16px;
    margin: 0 0 20px;
    overflow: hidden;
    border-color: #ccc;
    background: #f7f7f7;
    border-style: solid;
    border-width: 1px 0;
}

.weather-box iframe {
    border: 0;
    width: 100%;
    display: block;
}

.weather-box h2 {
    color: #963d4c !important;
    margin: 0 0 20px;
    font-size: 23px;
    font-weight: bold;
    line-height: 28px;
}

.activity-instagram{
    text-align: right;
    margin-bottom: 7px;
}
.activity-instagram .instafeed{
    margin-left: -11px;
}

@media screen and (max-width: 991px){
    .weather-box{
        display: none;
    }
}

@media screen and (max-width: 767px){
    .activity-instagram{
        margin: 0 auto 7px;
        max-width: 600px;
    }
    .activity-instagram .instafeed{
        margin-left: 0;
    }
}

.activity-instagram .activity-tag{
    padding-left: 27px;
    background-image: url("../images/instagram.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 19px;
    line-height: 19px;
    color: #e12570;
    display: inline-block;
}

.activity-instagram .activity-tag:before{
    content: "#";
}

.in-image-activity,
.in-image-activity>a>img{
    width: 90px;
    height: 90px;
}

@media screen and (max-width: 1149px) and (min-width: 992px){
    .in-image-activity,
    .in-image-activity>a>img{
        width: 77px;
        height: 77px;
    }
}

@media screen and (max-width:767px){
    .in-image-activity{
        width: 25%;
        height: auto;
        padding: 0;
    }
    .in-image-activity>a>img{
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 480px){
    .in-image-activity{
        width: 33.3333%;
    }

}

.your-reservation .subnav {
    background: #ededed;
    border: 1px solid #ccc;
    position: relative;
}

.your-reservation .subnav:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background: #089f02;
}

.your-reservation .subnav ul {
    overflow: hidden;
    padding: 8px 0;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
}

.your-reservation .subnav ul li {
    padding: 0 13px;
    display: inline-block;
    vertical-align: top;
}

@media screen and (max-width: 1139px) and (min-width: 992px){
    .your-reservation .subnav ul li{
        padding: 0 9px;
    }
}

@media (max-width: 767px) {
    .your-reservation .subnav {
        margin: 0 0 20px;
    }

    .your-reservation .subnav ul li {
        display: block;
        padding: 5px 13px;
    }
}

.your-reservation .subnav ul li.active a {
    color: #007878;
}

.your-reservation .subnav ul a {
    color: #000;
}

.your-reservation .subnav ul a:hover {
    color: #007878;
}

.your-reservation .links {
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}

.your-reservation .links li {
    margin: 0 20px 0 0;
    display: inline-block;
    vertical-align: middle;
}

.your-reservation .links a {
    color: #089f02;
}

.your-reservation .links a:hover {
    text-decoration: underline;
}


.offer-item-desc{
    margin: 10px;
    font-size: 13px;
}

.select-activity{
    border-bottom: 1px solid #d9d9d9;
}

.your-reservation .select-activity .timing1{
    border: none;
    margin: 0;
}

@media (max-width: 767px) {
    .your-reservation .select-activity .timing1{
        padding-bottom: 0;
    }
}

.your-reservation .timing1 {
    margin: 0 0 10px;
    padding: 0 24px 10px 0;
    border-bottom: 1px solid #d9d9d9;
}

.your-reservation .timing1 li {
    overflow: hidden;
    position: relative;
    padding: 0 0 3px 30px;
}

.your-reservation .timing1 li.time{
    min-height: 40px;
}

.your-reservation .timing1 li.profile {
    padding: 10px 0 3px 30px;
}

.your-reservation .timing1 li.profile.hours{
    padding: 4px 0 13px 30px;
}

.your-reservation .timing1 li.profile:after {
    width: 20px;
    content: '';
    height: 20px;
    position: absolute;
    left: 1px;
    top: 17px;
    right: auto;
    bottom: auto;
    background: url(../images/happy.svg) no-repeat;
    background-size: contain;
    background-position: center center;
}

.your-reservation .timing1 li.profile.hours:after{
    width: 22px;
    height: 22px;
    background: url(../images/clock.svg) no-repeat;
    background-size: contain;
    background-position: center center;
    top: 31px;
}

.your-reservation .timing1 li.profile .jcf-select .jcf-select-opener{
    display: none;
}

.your-reservation .timing1 li.profile .jcf-select{
    border: 2px solid #FDD164;
}

@media screen and (max-width: 767px){
    .your-reservation .timing1 li.profile .jcf-select{
        width: auto;
    }
}

.jcf-select.jcf-select-persona{
    width: auto;
}

.your-reservation .timing1 li.profile .jcf-select .jcf-select-text{
    color: #F5AD00;
    font-weight: bold;
}

.your-reservation .timing1 li.profile .jcf-select .jcf-select-opener:after{
    border-color: #fff transparent transparent;
}

.your-reservation .timing1 li.profile.hours .jcf-select{
    min-width: 100px;
    width: auto;
}

.your-reservation .timing1 li.profile.hours strong,
.your-reservation .timing1 li.profile.hours label{
    margin-bottom: 3px;
}
.your-reservation .timing1 li.profile.hours label{
    font-weight: bold;
    display: block;
}

.your-reservation .timing1 li.cal:after {
    width: 18px;
    content: '';
    height: 18px;
    position: absolute;
    left: 0;
    top: 8px;
    right: auto;
    bottom: auto;
    background: url(../images/calendar.svg) no-repeat;
    background-size: contain;
    background-position: center center;
}

.your-reservation .timing1 strong {
    display: block;
    font-weight: normal;
}

.your-reservation .timing1 strong span {
    font-weight: bold;
}

.your-reservation .timing1 .btn-primary {
    float: left;
    font-weight: normal;
    background: #963d4c;
    text-transform: none;
}

.your-reservation.activity .price {
    padding: 0 0 12px;
    text-align: right;
    white-space: nowrap;
}


@media (max-width: 767px) {
    .your-reservation.activity .price {
        padding: 0 0 10px 12px;
        text-align: left;
    }
}

.your-reservation.activity .price.add {
    padding: 0;
}

.your-reservation .accordion h2{
    float: left;
    line-height: 1;
    font-weight: 700;
}

.your-reservation .accordion h2 a:hover{
    color: #f8be00;
}



