/* Media query variable*/
/*First slider*/
#first-slider-sec {
    background-color: #0D3956;
    margin-top: -74px;
}
#first-slider-sec p {
    color: #D0DBD1; }
#first-slider-sec h2 {
    color: #D0DBD1; }

#first-slider-sec header{
    padding: 0 20px;
}

#first-slider-sec{
    padding-top: 20px;
    padding-bottom: 4px; }
#first-slider-sec h2{
    margin: 0;
    font-size: 36px;
    line-height: 40px;
    font-weight: 700; }
@media (max-width: 767px) {
    #first-slider-sec h2{
        margin: 41px 0 1px;
        font-size: 24px;
        line-height: 30px; } }
#first-slider-sec p {
    font-size: 15px;
    padding-top: 12px;
    padding-right: 110px;
}
#first-slider-sec .item{
    margin: 11px; }
#first-slider-sec .item img{
    display: block;
    width: 100%;
    height: 240px;
    background-color: black;
    margin: 0 auto;
    -o-object-fit: cover;
    object-fit: cover;
}
#first-slider-sec .item h3{
    display: block;
    color: #d0dbd1;
    text-align: center;
    margin: 0;
    font-size: 24px;
    background: #0A2E46;
    padding: 10px 0;
}

@media screen and (max-width: 991px){
    #first-slider-sec .item img{
        height: 150px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    #first-slider-sec .item h3{
        min-height: 72px;
    }
}
@media (max-width: 767px) {
    #first-slider-sec .item img{
        height: auto;
    }
    #first-slider-sec {
        margin-top: -74px;
        padding-top: 10px;
        padding-bottom: 1px;
    }
    #first-slider-sec .item h3 {
        font-size: 25px;
    }
    #first-slider-sec p{
        padding-right: 0;
    }
    #cpa-slider-1{
        padding-top: 5px;
    }
}

/*Owl next and previous */
.owl-theme .owl-controls .owl-buttons .owl-prev {
    position: absolute;
    top: 45%;
    font-size: 34px;
    background: transparent;
    left: -75px; }

.owl-theme .owl-controls .owl-buttons .owl-next {
    position: absolute;
    top: 45%;
    font-size: 34px;
    background: transparent;
    right: -75px; }


.activites-bar {
    padding-top: 38px;
    width: 100%;
    margin: 0 0 9px;
}

.activities-panel{
    position:relative;
    height:60px;
}

.activities-list {
    float: none;
    display: inline-block;
    border: 0;
    margin: 0 0 30px;
    text-align: center;
}

.floatdiv{
    position: absolute !important;
    z-index: 100;
}

.all-activities.new .activities-list li a {
    width: 94px;
    height: 70px;
    padding: 7px;
}

@media screen and (max-width: 1199px){
    .owl-theme .owl-controls .owl-buttons .owl-next{
        right: -40px;
    }
    .owl-theme .owl-controls .owl-buttons .owl-prev{
        left: -40px;
    }
}

@media (max-width: 767px) {
    .activities-list {
        padding-left: 15px; } }


@media (max-width: 991px) {
    .activities-list {
        border: 0;
        float: none;
        margin: 0 0 10px;
    }
}

.activities-list li {
    float: left;
    vertical-align: top;
    display: inline-block;
    margin: 0;
}

.activities-list a {
    width: 94px;
    height: 70px;
    padding: 7px;
    color: #fff;
    display: block;
    position: relative;
    text-align: center;
    background: #6ba45f;
}

@media (max-width: 991px) {
    .activities-list a {
        width: 91px;
    }
}

.activities-list a.orange {
    background: #dc7f3c;
}

.activities-list a.sky-blue {
    background: #4c95cb;
}

.activities-list a.violet {
    background: #6d5e92;
}

.activities-list a.red {
    background: #933d6d;
}

.activities-list a:after {
    width: 20px;
    height: 20px;
    content: '';
    display: none;
    background: url(../images/bullet1.png) no-repeat;
    position: absolute;
    left: 10px;
    top: -10px;
    right: auto;
    bottom: auto;
}

.activities-list a:hover:after {
    display: block;
}

.activities-list .ico {
    width: 33px;
    display: block;
    margin: 0 auto 4px;
}

.activities-info {
    padding: 0 0 0 12px;
    margin: 0 0 0 17px;
    vertical-align: bottom;
    list-style: none;
    position: relative;
    top: 0;
    right: -10px;
    display: block;
    background: #fff;
    float: right;
}
.activities-info:before,
.activities-info:after{
    content: '';
    display: table;
}
.activities-info:after{
    clear: both;
}
@media screen and (max-width: 1149px){
    .activities-panel{
        margin-top: 90px;
    }
    .activities-info{
        top: -90px;
        right: auto;
        left: 0;
        margin: 0;
        padding: 0;
        position: relative;
        float: none;
    }
}
@media (max-width: 767px){
    #floatdiv{
        top: 0 !important;
    }
    #floatdiv .activities-list{
        padding: 0;
    }
}

@media screen and (max-width: 600px){
    .activites-bar{
        display: none;
    }
}
.activities-info ul {
    list-style: none;
    margin: 0;
    padding: 0; }
.activities-info li {
    float: left;
    list-style-type: none; }
.activities-info li:nth-child(3) {
    padding-right: 8px; }
.activities-info li:nth-child(3) a {
    width: 135px; }
.activities-info li:nth-child(4) a {
    width: 154px; }
.activities-info a {
    width: 110px;
    color: #000;
    padding-bottom: 7px;
    display: block;
    position: relative;
    text-align: left;
    background: transparent; }
.activities-info a img {
    margin-right: 5px;
    padding-top: 5px; }
.activities-info a img.down-arrow-icon{
    margin-bottom: 20px;
}
.activities-info .ico {
    float: left;
    display: inline-block;
    margin: 0 auto 4px; }
.activities-info span {
    float: right; }
.activities-info p {
    color: #7c7c7c;
    font-size: 13px; }


.all-activities .activity-block.aire .heading {
    color: #4b66af;
}
.all-activities .activity-block.familia .heading {
    color: #933d6d;
}

.all-activities .activity-block {
    padding: 30px 0 0;
    border-top: 1px solid #e5e5e5;
}

.all-activities .activity-block .heading {
    color: #6ba45f;
    display: block;
    margin: 0 0 30px;
    position: relative;
    text-align: center;
    font-size: 29px;
    line-height: 34px;
    font-weight: 700;
}

.all-activities .activity-block .heading span {
    margin: -3px 5px 0 0;
    display: inline-block;
    vertical-align: top;
}

.all-activities .activity-block.rio .heading {
    color: #dc7f3c;
}

.all-activities .activity-block.tour .heading {
    color: #fbaf2a;
}

.all-activities .activity-block.relax .heading {
    color: #419997;
}

.all-activities .activity-block.nieve .heading {
    color: #735f93;
}

/*---------------ACTIVITY ICONS---------------*/

.activity-icons{
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}

.activity-icons img{
    width: 100%;
}

.activity-icons ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.activity-icons li{
    display: inline-block;
    margin-right: 6px;
}
.activity-icons .ico {
    width: 21px;
    position: relative;
    cursor: pointer;
}

.activity-icons .ico p{
    position: absolute;
    background: #f5f2f2;
    color: #656363;
    left: 0;
    width: 123px;
    margin-left: -51px;
    text-align: center;
    padding: 2px 15px;
    border: 1px solid #d0cbcb;
    border-radius: 6px;
    font-size: 12px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    bottom: 60px;
}

.activity-icons .ico:hover p{
    opacity: 1;
    pointer-events: auto;
    bottom: 30px;
    visibility: visible;
}

.activity-icons .ico p span{
    position: absolute;
    color: #f5f2f2;
    text-shadow: 0px 1px 0px #d0cbcb;
    left: 0;
    right: 0;
    top: auto;
    bottom: -14px;
    font-size: 20px;
}


@media (max-width: 850px){
    .activity-icons .ico p span{
        font-size: 15px;
        bottom: -11px;
    }
    .activity-icons li:nth-child(1) p{
        left: 42px;
    }
    .activity-icons li:nth-child(1) p span{
        left: -83px;
    }
    .activity-icons li:nth-child(2) p{
        left: 17px;
    }
    .activity-icons li:nth-child(2) p span{
        left: -38px;
    }
}

/*---------------END ACTIVITY ICONS---------------*/