@font-face{
    font-family:"RifficFree";
    font-style:normal;
    font-weight:700;
    src:url("../fonts/RifficFree-Bold.ttf")
    format("truetype");
}

body{
    font-family: 'CircularStd', sans-serif;
    font-size: 16px;
    color: #c1c1c1;
    font-weight: 400;
    background: #231f20;
    margin: 0;
    padding: 0;
    border: 1px solid #323030;
    box-sizing: border-box;
    min-height: 100vh;
}

h1{
    position: relative;
    margin: 38px 0 0;
    text-align: center;
}

h1 span{
    position: absolute;
    color: transparent;
    pointer-events: none;
}

h1 img{
    width: 252px;
}

h1:after,
.descr:after{
    content: '';
    width: 100%;
    max-width: 626px;
    height: 1px;
    background: #525151;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 4px;
}
.slogan-wrapper{
    text-align: center;
    margin-bottom: 23px;
}
.slogan{
    text-align: center;
    display: inline-block;
    background: url(../images/WTA-Logo.jpg) no-repeat;
    background-position: 100% 6px;
    background-size: 128px;
    padding: 20px 139px;
}

.slogan strong,
.slogan span{
    display: block;
}

.slogan strong{
    font-weight: 700;
    color: #da9f0b;
    margin: 0 0 6px
}

.slogan span{
    color: #fff;
}

.entrance-options{
    position: relative;
}

.entrance-options:before,
.entrance-options:after{
    content: '';
    display: table;
}
.entrance-options:after{
    clear: both;
}

.option{
    position: relative;
    float: left;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.option:before{
    content: '';
    display: block;
    padding-top: 75%;
}

.option.atacama{
    background-image: url('../images/atacama_desert_chile.jpg');
}

.option.pucon{
    background-image: url('../images/img04.jpg')
}

.option a{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    font-family: 'RifficFree', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 62px;
    transition: all 0.3s ease;
}

.option a:hover{
    background: rgba(0,0,0,0.3);
}

.descr{
    text-align: center;
    margin: 23px auto 0;
    position: relative;
    padding-bottom: 16px;
    width: 100%;
    max-width: 894px;
}

.descr strong{
    font-weight: 400;
    color: #da9f0b;
}

.descr p{
    margin: 0;
    line-height: 1.4;
}

footer{
    text-align: center;
    padding: 16px 0 36px;
}

.soc-links{
    display: inline-block;
    position: relative;
    top: 5px;
    margin-left: 31px;
}

.soc-links a:first-child{
    display: inline-block;
    margin-right: 8px;
}

.soc-links img{
    width: 24px;
    opacity: 0.5;
}

.kipmuving{
    color: #c1c1c1;
    text-transform: uppercase;
    text-decoration: none;
}

@media screen and (max-width: 767px){
    .option{
        width: 100%;
        float: none;
    }
}

@media screen and (max-width: 670px){
    .slogan{
        padding: 20px 0;
        background: none;
    }
}

@media screen and (max-width: 460px){
    body{
        font-size: 14px;
    }

    h1 img{
        width: 220px;
    }

    .option a{
        font-size: 48px;
    }
}