
.guide-header{
    background: #242c3a;
}

.guide-header__title{
    color: #e28a11;
    font-weight: 700;
    font-size: 30px;
    margin: 33px 0 26px;
}

.guide-header__navigation-list{
    padding: 0;
    margin: 0 0 8px;
    list-style: none;
    font-size: 0;
}

.guide-header__navigation-item{
    font-size: 20px;
    display: inline-block;
    width: 33.3333%;
    position: relative;
    padding: 2px 0 3px 51px;
    margin-bottom: 26px;
}

.guide-header__navigation-link{
    color: #fff;
}

.guide-header__navigation-link_active{
    color: #e18910;
}

.guide-header__icon{
    position: absolute;
    left: 0;
    top: -4px;
}


@media screen and (max-width: 991px){
    .guide-header__navigation-item{
        width: 50%;
    }
}

@media screen and (max-width: 606px){

    .guide-header__title{
        font-size: 24px;
    }

    .guide-header__navigation-item{
        display: block;
        width: auto;
        padding: 2px 0 3px 45px;
        font-size: 18px;
    }
}