.program-schedule_guide{
    margin: -120px 0 22px;
}

@media screen and (max-width: 470px){
    .program-schedule_guide{
        margin-top: -160px;
    }
}


.flex_wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-right: -4px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex_item {
    width: calc(100% *(1/4) - 4px);
    margin: 0 4px 0 0;
}

@media screen and (max-width: 991px){
    .flex_item {
        width: calc(100% *(1/2) - 4px);
        margin: 0 4px 8px 0;
    }
}

@media screen and (max-width: 620px){
    .flex_wrapper{
        margin-right: 0;
    }
    .flex_item {
        width: 100%;
        margin: 0 0 8px 0;
    }
}

.map-heading {
    color: #ffffff;
    padding: 0 15px 0 50px;
}

.map-heading:before{
    content: '';
    position: absolute;
    pointer-events: none;
}

.click-tab {
    display: block;
    height: 100%;
    position: relative;
}
.click-tab .map-heading h3{
    font-size: 23px;
    color: #ffffff;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 0;
    line-height: 32px;
}

.map-box-1 {
    background-color: #b2c172;
    border: 4px solid #b2c172;
    margin-top: 5px; }
.map-box-1 .map-heading:before{
    width: 53px;
    background: url('/images/hikking-white.svg') no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
    top: 0;
    left: -1px;
}
.map-box-2 {
    background-color: #4fb46e;
    border: 4px solid #4fb46e;
    margin-top: 5px; }
.map-box-2 .map-heading:before{
    width: 53px;
    background: url('/images/bicycle-white.svg') no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
    top: 0;
    left: -1px;
    transform: rotate(-90deg);
}
.map-box-3 {
    background-color: #238384;
    border: 4px solid #238384;
    margin-top: 5px; }
.map-box-3 .map-heading:before{
    width: 53px;
    background: url('/images/bus-white.svg') no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
    top: 0;
    left: -1px;
    transform: rotate(-90deg);
}
.map-box-4 {
    background-color: #343b4e;
    border: 4px solid #343b4e;
    margin-top: 5px; }
.map-box-4 .map-heading:before{
    width: 53px;
    background: url('/images/car-white.svg') no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
    top: 0;
    left: -1px;
    transform: rotate(-90deg);
}

.guide-header{
    padding-top: 45px;
}

.guide-header header:before,
.guide-header header:after{
    content: '';
    display: table;
}
.guide-header header:after{
    clear: both;
}

.your-reservation .guide-header h1{
    color: #318B8C;
    font-weight: 700;
    font-size: 34px;
    margin: 0 8px 0 0;
    line-height: 1.4;
    display: inline-block;
    border-right: 1px solid #CCCCCC;
    padding-right: 17px;
    vertical-align: middle;
}

.guide-header p{
    display: inline-block;
    margin: 0;
    color: #29A3A4;
    vertical-align: middle;
}

.infor-bar {
    margin-top: 10px; }
.infor-bar .right-border {
    border-right: 1px solid #cccccc; }

/*********** Guide plates ****************/

.guide-places-plates-wrapper{
    text-align: center;
}

.your-reservation.activity .guide-places-plates-wrapper>h2{
    display: inline-block;
    font-weight: bold;
    color: #318b8c;
    margin: 25px 0;
    position: relative;
}
.guide-places-plates-wrapper>h2:before,
.guide-places-plates-wrapper>h2:after{
    content: '';
    position: absolute;
    width: 100px;
    height: 1px;
    background: #EAEAEA;
    top: 16px;
}
.guide-places-plates-wrapper>h2:before{
    right: 125%;
}
.guide-places-plates-wrapper>h2:after{
    left: 125%;
}

.guide-places-plates{
    margin-right: -10px;
    text-align: left;
    position: relative;
    font-size: 0;
}

.guide-places-plate-wrapper{
    display: inline-block;
    width: calc(100% * (1/5) - 10px);
    max-width: 300px;
    text-align: left;
    border: 3px solid #B8DDE3;
    background: #B8DDE3;
    margin: 0 10px 15px 0;
    vertical-align: top;
    padding-bottom: 20px;
    font-size: 14px;
}
.guide-places-plate{
    cursor: pointer;
}

.guide-places-plate>figure{
    position: relative;
}
.vehicle-icon{
    position: absolute;
    bottom: 4px;
    right: 0;
    opacity: 0.7;
}
.vehicle-icon.car-icon{
    right: 10px;
    width: 16px;
}
.vehicle-icon.bus-icon{
    right: 29px;
    width: 20px;
}

.descr{
    padding: 0 15px;
}
.descr h3{
    color: #0B6A6E;
    font-weight: bold;
    margin: 15px 0 10px;
}
.descr p{
    color: #28373D;
}

.item-image{
    width: 100%;
    height: 90px;
    object-fit: cover;
    object-position: center;
}

.guide-places-plate-wrapper:nth-child(5n+2){
    background: #D7E5D8;
    border-color: #D7E5D8;
}
.guide-places-plate-wrapper:nth-child(5n+2) .descr h3,
.guide-places-plate-wrapper:nth-child(5n+2) .termas h2{
    color: #569856;
}

.guide-places-plate-wrapper:nth-child(5n+3){
    background: #F2DFA4;
    border-color: #F2DFA4;
}
.guide-places-plate-wrapper:nth-child(5n+3) .descr h3,
.guide-places-plate-wrapper:nth-child(5n+3) .termas h2{
    color: #BD951F;
}

.guide-places-plate-wrapper:nth-child(5n+4){
    background: #FAD7C3;
    border-color: #FAD7C3;
}
.guide-places-plate-wrapper:nth-child(5n+4) .descr h3,
.guide-places-plate-wrapper:nth-child(5n+4) .termas h2{
    color: #CD7351;
}

.guide-places-plate-wrapper:nth-child(5n+5){
    background: #FAD4AF;
    border-color: #FAD4AF;
}
.guide-places-plate-wrapper:nth-child(5n+5) .descr h3,
.guide-places-plate-wrapper:nth-child(5n+5) .termas h2{
    color: #D8954D;
}

.guide-place-plate-details{
    position: absolute;
    left: 0;
    width: 100%;
    display: none;
    visibility: hidden;
    margin-top: 38px;
}

.termas h2 {
    color: #0b6a6e;
    font-size: 25px;
    font-weight: 700;
}

/******/


.termas-tabs {
    text-align: left; }
.termas-tabs .map-holder {
    height: 270px; }
.termas-tabs .map-holder iframe {
    width: 100%;
    height: 270px; }
.termas-tabs a.yello-button {
    color: #ffffff;
    background-color: #ebb414;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    position: relative;
    margin: auto; }

.tab-content .well {
    border-radius: 0;
    padding: 9px 9px 29px;
    background-color: #eeeeee; }

.tab-content .well.map-tab{
    padding: 0;
    height: 300px;
}

.tab-content .tab-detail {
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 10px; }

.tab-pane .info-icons {
    padding-left: 10px; }
.tab-pane .info-icons img {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle; }
.tab-pane .info-icons p {
    display: inline-block;
    vertical-align: text-top;
    margin-top: 1px;
    padding-left: 2px; }
.tab-pane .info-icons span {
    padding-left: 30px;
    display: block; }


@media screen and (max-width:600px){
    .termas-tabs .nav.nav-pills{
        margin-bottom: 10px;
    }
    .termas-tabs .nav-pills>li.active{
        background: #eeeeee;
    }
    .termas-tabs .nav-pills > li{
        float: none;
    }
    .termas-tabs .nav-pills li:not(:first-child) a{
        border-left: none;
    }
    .termas-tabs .nav-pills li.active:after{
        display: none;
    }
}

@media screen and (max-width:500px){
    .tab-pane .info-icons strong{
        display: block;
    }
}

.nav-pills li {
    height: 85px; }
.nav-pills li img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px; }
.nav-pills li .link-info {
    display: inline-block;
    padding-left: 5px;
    vertical-align: middle; }
.nav-pills li .link-info p {
    margin-bottom: 5px; }
.nav-pills li.active a {
    color: #000000;
    background-color: transparent; }
.nav-pills li.active a:hover {
    color: #000000;
    background-color: transparent; }
.nav-pills li.active a:focus {
    color: #000000;
    background-color: transparent; }
.nav-pills li.active:after {
    content: '';
    background: url(../images/tab-arrow.png) no-repeat;
    background-position: center;
    width: 20px;
    height: 10px;
    position: absolute;
    display: block;
    bottom: -1px;
    left: 50%; }
.nav-pills li a {
    color: #000000;
    padding: 15px;
    border-radius: 0px; }
.nav-pills li:not(:first-child) a {
    border-left: 1px solid #cccccc; }


/******/


@media screen and (max-width: 991px){
    .your-reservation .guide-header h1{
        display: block;
        border-right: none;
        margin-right: 0;
        padding-right: 0;
    }

    .guide-places-plate-wrapper {
        width: calc(100% * (1 / 3) - 10px);
    }
}

@media screen and (max-width: 767px){
    .guide-places-plates{
        margin-right: 0;
    }
    .guide-places-plate-wrapper {
        width: 100%;
        margin: 0 auto 15px;
        float: none;
    }
    .descr h3{
        font-size: 18px;
    }
    .termas h2{
        padding-left: 10px;
    }
}

/*********** END Guide plates ****************/


#m-box-2 .placeholder-info {
    margin-top: 10px; }
#m-box-2 .placeholder-info a {
    width: 180px; }
#m-box-2 .termas {
    margin-bottom: 20px;
    display: block;}
#m-box-2 .right-border {
    border-right: 1px solid #ccc; }
#m-box-2 ul li a strong {
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle; }
#m-box-2 #bicicleta-sub-tab-1 {
    margin-top: 5px; }
#m-box-2 #bicicleta-sub-tab-1 .fancy-button a {
    background-color: #8a41c4; }
#m-box-2 #bicicleta-sub-tab-1 h3 {
    color: #8a41c4;
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px; }
#m-box-2 #bicicleta-sub-tab-2 {
    margin-top: 5px; }
#m-box-2 #bicicleta-sub-tab-2 .fancy-button a {
    background-color: #0f86bd; }
#m-box-2 #bicicleta-sub-tab-2 h3 {
    color: #0f86bd;
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px; }
#m-box-2 #bicicleta-sub-tab-3 {
    margin-top: 5px; }
#m-box-2 #bicicleta-sub-tab-3 .fancy-button a {
    background-color: #e56232; }
#m-box-2 #bicicleta-sub-tab-3 h3 {
    color: #e46232;
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px; }
#m-box-2 .termas .opiniones {
    font-size: 11px;
    top: 0px;
    margin-bottom: 10px;}
#m-box-2 .termas .opiniones img {
    width: auto;
    height: auto; }
#m-box-2 .termas .opiniones:before {
    font-size: 11px; }
#m-box-2 .bottom-tab-links {
    margin: 25px auto 10px auto;
    padding: 10px 0px;
    overflow: hidden;
    display: block; }
#m-box-2 .bottom-tab-links img {
    width: 25px;
    height: 30px;
    padding-right: 2px;
    vertical-align: middle;
    display: inline-block;
    vertical-align: middle; }

#m-box-4 h1 {
    color: #304376; }
#m-box-4 .placeholder-info {
    margin-top: 10px; }
#m-box-4 .placeholder-info a {
    width: 150px; }
#m-box-4 #tour-cultural img {
    width: 35px;
    height: 45px;
    margin-top: 5px; }
#m-box-4 #tour-cultural .tour-sub-dark-red {
    margin-top: 5px; }
#m-box-4 #tour-cultural .tour-sub-dark-red h3 {
    color: #cd4b72;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px; }
#m-box-4 #tour-cultural .tour-sub-light-green {
    margin-top: 5px; }
#m-box-4 #tour-cultural .tour-sub-light-green h3 {
    color: #72b935;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px; }
#m-box-4 #tour-cultural .tour-sub-light-red {
    margin-top: 5px; }
#m-box-4 #tour-cultural .tour-sub-light-red h3 {
    color: #f56668;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px; }

#m-box-1 h1 {
    color: #93af1a; }


#m-box-3 .placeholder-info a {
    width: 170px; }

#m-box-3 .placeholder-info a strong {
    line-height: normal; }

.placeholder-info {
    padding: 0;
    margin: 10px 0px 0px 5px;
    vertical-align: bottom;
    list-style: none; }
.placeholder-info p:first-child {
    font-size: 16px;
    font-weight: bold; }
.placeholder-info ul {
    list-style: none;
    margin: 15px auto auto auto;
    padding: 0; }
.placeholder-info li {
    list-style-type: none;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1; }
.placeholder-info a {
    width: 170px;
    color: #000000;
    padding-bottom: 7px;
    display: block;
    position: relative;
    text-align: left;
    background: transparent; }
.placeholder-info a strong{
    line-height: 31px;
}

.placeholder-info a p{
    margin-left: 35px;
}

.placeholder-info a img {
    margin-right: 5px;
    width: 40px;
    height: 40px; }
.placeholder-info .ico {
    float: left;
    display: inline-block;
    margin: 0 auto 4px; }

.placeholder-info {
    margin-top: 0px; }
.placeholder-info ul {
    margin-top: 1px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap; }
.placeholder-info a {
    width: 300px; }
.placeholder-info a img {
    width: 33px;
    height: 36px;
    margin-right: 1px; }
.placeholder-info .ico {
    margin-bottom: 30px; }

.map-description h3 {
    font-size: 25px;
    color: #df3c3c;
    font-weight: 700; }
.map-description .sub-tab-info {
    display: none;
    position: relative;
    width: 100%; }
.map-description .sub-tab-info h3 {
    margin-top: 2px; }
.map-description .active-sub-tab {
    display: block; }
.map-description .active-sub-tab img {
    width: 35px;
    height: 45px; }
.map-description #sub-tab-info2 h3 {
    color: #1187bf; }
.map-description .sub-tab-tour {
    display: block;
    position: relative;
    width: 100%; }

.map-detail {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 15px; }
.map-detail iframe {
    width: 100%;
    height: 500px; }

.map-detail iframe {
    height: 590px; }
.map-detail .maximize-map {
    position: absolute;
    top: 10px;
    right: 20px;
    background: url("../images/maximize.svg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 30px;
    height: 30px;
    box-shadow: none;
    border: 0;
    outline: none; }

.order-theguide ul{
    padding: 0;
    margin: 0 10px 0 0;
    list-style: none;
    float: left;
}
.order-theguide ul>li{
    display: inline-block;
    vertical-align: top;
    padding-left: 30px;
    position: relative;
    margin-right: 25px;
}
.order-theguide ul>li:last-child{
    margin-right: 0;
}
.order-theguide ul>li:before{
    content: '';
    position: absolute;
    top: 28px;
    left: 0;
}
.order-theguide ul>li:nth-child(1):before{
    width: 18px;
    height: 18px;
    background: url(../images/calendar.svg) no-repeat;
    background-size: contain;
    background-position: center center;
}
.order-theguide ul>li:nth-child(2):before{
    width: 22px;
    height: 22px;
    background: url(../images/clock.svg) no-repeat;
    background-size: contain;
    background-position: center center;
}

.order-theguide ul>li>label{
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.order-theguide input[type=text]{
    background: #963d4c;
}

.order-theguide input[type=text]{
    font-size: 14px;
    height: 34px;
    width: 120px;
    color: #fff;
}

.order-theguide .jcf-select{
    min-width: 80px;
    width: auto;
}

.order-theguide .jcf-select .jcf-select-opener:before{
    width: 0;
    height: 0;
    content: '';
    border-style: solid;
    border-width: 4px 4px 0;
    border-color: #000 transparent transparent;
    position: absolute;
    left: auto;
    top: 11px;
    right: 9px;
    bottom: auto;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.order-theguide .jcf-select .jcf-select-opener:after{
    top: 17px;
}

.your-reservation.activity .order-theguide .btn-primary{
    font-size: 14px;
    position: relative;
    top: 22px;
    padding: 7px 10px;
}

.hour-devider{
    display: inline-block;
    margin: 5px 5px 0;
}

@media screen and (max-width: 1139px){
    .order-theguide ul>li{
        padding-left: 24px;
        margin-right: 5px;
    }
}

@media screen and (max-width: 600px){
    .order-theguide>ul{
        float: none;
        margin: 0;
    }
    .order-theguide>ul>li{
        display: block;
    }
    .order-theguide>ul>li:first-child{
        margin-bottom: 10px;
    }
    .your-reservation.activity .order-theguide .btn-primary{
        margin-left: 30px;
    }
    .order-theguide .jcf-select,
    .order-theguide input[type=text]{
        width: 190px;
    }
    .hour-devider{
        display: block;
        margin: 5px 0 5px 10px;
    }
}