.program-schedule_home{
    margin-top: -130px;
}

@media screen and (max-width: 767px){
    .program-schedule_home{
        margin-top: -137px;
        margin-right: 0;
    }
}

.visual.home {
    height: 615px;
}

.visual .caption {
    padding: 120px 0 175px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 19;
}

@media (max-width: 767px) {
    .visual .caption {
        padding: 10px 0;
        position: static;
        margin-top: 20%;
    }
}

@media (max-width: 505px) {
    .visual .caption {
        margin-top: 47%;
    }
}

.visual .container,
.visual .row,
.visual .col-xs-12 {
    height: 100%;
}

@media (max-width: 767px) {
    .visual .container,
    .visual .row,
    .visual .col-xs-12 {
        height: auto;
    }
}

.visual img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.visual .offer-block {
    margin: 0 0 0 -9999px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px 10px 5px 9999px;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    left: 0;
    top: auto;
    right: auto;
    bottom: 0;
}

@media (max-width: 767px) {
    .visual .offer-block {
        margin: 0;
        padding: 10px 0;
        position: static;
        text-align: center;
    }
}

.visual .offer-block .box {
    width: 310px;
    overflow: hidden;
}

@media (max-width: 991px) {
    .visual .offer-block .box {
        width: 270px;
    }
}

@media (max-width: 767px) {
    .visual .offer-block .box {
        width: auto;
    }
}

.visual .offer-block .title {
    display: block;
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
}

@media (max-width: 991px) {
    .visual .offer-block .title {
        font-size: 26px;
        line-height: 30px;
        font-weight: 400;
    }
}

.visual .offer-block .sub-title {
    display: block;
    margin: 0 0 5px;
    text-transform: none;
    font-size: 25px;
    line-height: 29px;
    font-weight: 400;
}

@media (max-width: 991px) {
    .visual .offer-block .sub-title {
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
    }
}

.visual .offer-block .btn-success {
    float: right;
}

@media (max-width: 767px) {
    .visual .offer-block .btn-success {
        float: none;
    }
}

.visual .offer-block p {
    margin: 0;
}

@media (max-width: 767px) {
    .visual .offer-block p {
        margin: 0 0 10px;
    }
}

.activity-form {
    width: 547px;
    float: right;
    padding: 7px 17px 19px;
    background: rgba(255, 188, 0, 0.88);
}

@media (max-width: 991px) {
    .activity-form {
        width: 400px;
        max-width: 400px;
        margin: 0 auto;
    }
}

@media (max-width: 767px) {
    .activity-form {
        width: auto;
        float: none;
        padding: 10px;
        max-height: inherit;
    }
}

.activity-form .jcf-select {
    border: 0;
    height: 28px;
    border-radius: 4px;
}

@media (max-width: 991px){
    .activity-form .jcf-select {
        margin-bottom: 15px;
    }
}

.activity-form .jcf-select .jcf-select-text {
    color: #000;
    font-size: 12px;
    margin: 5px 20px 0 12px;
}

.activity-form .jcf-select-opener{
    display: none;
}

.activity-form .form-control{
    padding: 4px 0 5px 13px;
}

.activity-form .title {
    color: #46350d;
    display: block;
    margin: 10px 0 9px;
    font-size: 26px;
    line-height: 34px;
    text-align: center;
    font-family: "PT-Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

@media (max-width: 991px) {
    .activity-form .title {
        margin: 0 0 10px;
        font-size: 24px;
        line-height: 30px;
    }
}

@media (max-width: 767px) {
    .activity-form .title {
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
    }
}

.activity-form .text-field {
    margin: 0 0 6px;
    overflow: hidden;
}

.activity-form .text-field.has-ico {
    background: #fff;
    position: relative;
    border-radius: 4px;
    padding: 0 30px 0 0;
}

@media (max-width: 767px){
    .activity-form .text-field.has-ico{
        margin-left: -3px;
    }
}

.activity-form .text-field.has-ico:after {
    width: 18px;
    content: '';
    height: 18px;
    position: absolute;
    left: auto;
    top: 5px;
    right: 7px;
    bottom: auto;
    background: url(../images/sprite.png) no-repeat;
}

.activity-form .text-field.has-ico.calender:after {
    top: 7px;
    background-position: 0 0;
}

.activity-form .text-field.has-ico.date:after {
    background-position: 0 -19px;
}

.activity-form .text-field.has-ico.person:after {
    background-position: 0 -42px;
}

.activity-form .holder {
    overflow: hidden;
}

.activity-form .col {
    width: 54.5%;
    margin: 0 0.5% 0;
    display: inline-block;
    vertical-align: top;
}

.activity-form .col.col-second{
    width: 42%
}

@media (max-width: 991px) {
    .activity-form .col {
        width: auto;
        display: block;
        margin: 0 -4px;
    }
    .activity-form .col:first-child {
        margin: 0;
    }

    .activity-form .col.col-second{
        width: auto;
    }

    .activity-form .sub-col{
        width: 61.3%;
    }

    .activity-form .sub-col.sub-col-second{
        width: 33%;
    }

}

.activity-form .sub-col {
    width: 54.3%;
    margin: 0 1% 0;
    display: inline-block;
    vertical-align: top;
}

.activity-form .sub-col.sub-col-second{
    width: 40%;
}

.activity-form .btn-primary {
    font-size: 10px;
    line-height: 18px;
    font-weight: 400;
    width: 100%;
}

.line-box {
    width: 100%;
    color: #466464;
    padding: 10px 0;
    overflow: hidden;
    background: #133939;
}

.line-box .line-wrap {
    float: left;
    width: 99999px;
}

.line-box p {
    margin: 0 5px 0 0;
}

.s_guia {
    background: #ededed;
    padding: 53px 0 64px; }
.s_guia span {
    font-family: "PT-Sans", sans-serif;
    font-weight: 700;}
.s_guia ul {
    padding-left: 0; }
.s_guia ul li {
    font-size: 13px;
    color: #000;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin: 2px 0; }
.s_guia ul li svg {
    margin-right: 15px;
    width: 80px;
    height: 70px; }
.s_guia ul li svg path {
    fill: #474747; }
.s_guia ul li img {
    margin-right: 15px;
    width: 80px;
    height: 70px;
    -o-object-fit: contain;
    object-fit: contain;
}
.s_guia .section_title h2 span{
    color: #000000;
    text-align: center;
    margin: 0;
    line-height: 0.97em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    display: block}
.s_guia .section_title h2 .size1 {
    font-size: 117px;
    font-family: "PT-Sans", sans-serif;
    font-weight: 700;
    color: #ffb400; }
.s_guia .section_title h2 .size2 {
    font-size: 84px; }
.s_guia .section_title h2 .size3 {
    font-size: 58px; }
.s_guia .section_title h2 .size4 {
    font-size: 53px; }
.s_guia .go-to-guide {
    text-align: center;
    padding: 26px 0 0;
    font-size: 20px;
    font-family: "PT-Sans", sans-serif;
    font-weight: 400;
    margin: 0 -30px;}
.s_guia .go-to-guide p{
    line-height: 1.2em;
}
.s_guia .go-to-guide .tegs {
    margin-bottom: 95px; }
.s_guia .go-to-guide .btn-orange {
    padding: 21px 33px;
    background: #ffb400;
    text-transform: uppercase;
    font-family: "PT-Sans", sans-serif;
    font-weight: 700;
    font-size: 31px;
    color: #fff;
    text-decoration: none;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    align-items: center;
    border-radius: 15px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; }
.s_guia .go-to-guide .btn-orange:hover {
    color: #fff;
    text-decoration: none;
    background: #ffd91f; }
.s_guia .go-to-guide .btn-orange img {
    margin-right: 20px; }
@media(max-width: 1199px) {
    .s_guia .go-to-guide .tegs {
        margin-bottom: 62px; } }
@media(max-width: 991px) {
    .s_guia .go-to-guide {
        padding: 26px 10px;
        margin: 0;}
    .s_guia ul {
        margin-top: 35px; }
    .s_guia ul li {
        display: -webkit-inline-box;
        display: -moz-inline-box;
        display: inline-box;
        display: -webkit-inline-flex;
        display: -moz-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        margin: 2px 11px; } }
@media(max-width: 737px) {
    .s_guia ul li {
        width: 43%;
        justify-content: center; } }
@media(max-width: 421px) {
    .s_guia .go-to-guide .btn-orange{
        padding: 18px 26px;
        font-size: 23px;
    }
    .s_guia ul{
        display: none;
    }
    .s_guia .section_title h2 .size1 {
        font-size: 85px; }
    .s_guia .section_title h2 .size2 {
        font-size: 60px; }
    .s_guia .section_title h2 .size3 {
        font-size: 40px; }
    .s_guia .section_title h2 .size4 {
        font-size: 30px; } }

.s_allactivities header{
    text-align: center;
    margin: 56px 0 18px;
}

.s_allactivities header h2{
    font-size: 46px;
    font-weight: 700;
    color: #575757;
    margin: 0;
}

.s_allactivities .all-activities .img-holder img{
    height: 93px;
    object-fit: cover;
}

.s_allactivities header p{
    margin: 0;
    color: #959595;
    font-size: 20px;
}

.s_allactivities .caption{
    padding: 0 17px;
}

.s_allactivities .btn,
.s_allactivities .btn-primary{
    border-radius: 0;
}

.s_allactivities .btn-holder{
    text-align: center;
    padding: 34px 0 50px;
}

.s_allactivities .btn-holder .btn{
    font-size: 14px;
    font-weight: 700;
    background: #003856;
    padding: 12px 40px;
}


.s_viagem {
    padding: 56px 0 30px;
    color: #fff;
    position: relative;
    background: #00A19D;
}

.s_viagem>.container{
    background: url(../images/viagem_bg.png) no-repeat;
    background-position: right center;
}

.block-wrapper{
    display: inline-block;
}

.s_viagem .block {
    text-align: center;
    margin: 0 0 29px;
    position: relative; }
.s_viagem .block:last-child{
    margin-bottom: 0;
}

.s_viagem h3 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0; }
.s_viagem p {
    font-family: "PT-Sans", sans-serif;
    font-weight: 400;
    font-size: 16px; }

@media screen and (max-width: 1139px){
    .s_viagem>.container{
        background-size: 50%;
    }
}

@media screen and (max-width: 991px){
    .s_viagem>.container{
        background-size: 40%;
    }
}

@media screen and (max-width: 767px){
    .s_viagem>.container{
        background-size: 515px;
        background-position: bottom center;
        padding-bottom: 225px;
    }
    .block-wrapper{
        display: block;
    }
}

@media screen and (max-width: 575px) {
    .s_viagem>.container{
        background: none;
        padding-bottom: 0;
    }
    .s_viagem h3 {
        font-size: 25px;
    }
    .s_viagem p {
        font-size: 14px;
    }
}