@page{
    margin: 0.5cm;
}

@media print {
    .print-header{
        position: relative;
        background-color: #e5e5e5 !important;
        -webkit-print-color-adjust: exact;
        padding: 14px 106px;
        margin-bottom: 31px;
        display: none;
    }
    .print-header img{
        position: absolute;
        opacity: 0.5;
        top: 10px;
    }
    .print-header img:nth-child(1){
        left: 23px;
        width: 22px;
        height: 23px;
    }
    .print-header img:nth-child(2){
        right: 23px;
        height: 26px;
        width: 19px;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}