.your-reservation .accordion h2 {
    font-size: 31px;
    line-height: 31px;
}

.your-reservation .accordion h2 a{
    color: #089f02;
}

.your-reservation .accordion .ico {
    margin: 2px 10px 0 0;
    position: relative;
    left: auto;
    top: auto;
    width: 51px;
}

/*---- RESERVATION PAGE UPDATE ---*/

.s_reservar{
    margin-top: 30px
}


.s_reservar .your-reservation .head{
    padding: 0 16px;
    margin-right: -12%;
}

.s_reservar .your-reservation .head p{
    font-size: 14px;
    font-family:  'Lato', sans-serif;
    font-weight: 400;
    margin:  0 0 10px;
}

.s_reservar .your-reservation .head p a{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color:  #000;
}

.s_reservar .activity_description{
    position: relative;
    padding-bottom: 15px;
}

.s_reservar .your-reservation .list-box{
    margin: 0 0 15px 10px;
}

.s_reservar .your-reservation .timing{
    overflow: visible;
    display: inline-block;
}

.s_reservar .your-reservation .timing li{
    padding: 0 0 10px;
}

.s_reservar .your-reservation .timing li.person{
    padding: 5px 0 0;
}

.s_reservar .your-reservation .timing li:after{
    display: none;
}

.s_reservar .your-reservation .price{
    padding: 0;
    position: absolute;
    bottom: 15px;
    right:  0;
}

.s_moredetails{
    margin-top: 30px;
}
/*---- END RESERVATION PAGE UPDATE ---*/

.timing-icon{
    position: absolute;
    width: 18px;
    top: 2px;
    left: -27px;
}

.carrio-heading {
    margin-top: 24px;
    font-size: 18px;
    font-weight: 700;
    color: #474a4c;
}

/*--------------MODAL WIDNOW "RESERVE"------------*/

.payment-modal {
    text-align: center;
}
.payment-modal.modal:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
.payment-modal .modal-dialog {
    display: inline-block;
    vertical-align: middle;
    width: 910px;
}
.payment-modal .modal-content {
    border-radius: 0;
    border-color: #aaaaaa;
    background: #fff;
    box-shadow: none;
}
.payment-modal .modal-header {
    border-bottom: none;
    color: #000;
    background: transparent;
    text-align: center;
    padding: 36px 0 0;
}
.payment-modal .modal-header p {
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
}
.payment-modal .modal-header p>strong{
    color: #972639;
}

.payment-modal .modal-body {
    padding: 0;
}

.info-item{
    background: #e2e2e2;
    margin-bottom: 1px;
    text-align: left;
    height: 83px;
}

.info-item:first-child{
    background: #f1f1f1;
}

.info-item h4,
.info-item strong{
    margin: 28px 0 0;
    display: block;
    font-size: 16px;
}

.info-item h4{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    padding-left: 13px;
}

.info-item strong{
    color: #972639;
}
.info-item span{
    color: #707070;
    display: block;
    line-height: 1;
}

.payment-options{
    padding: 27px 0 20px;
}

.payment-options h4{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 16px;
    display: block;
    margin: 5px 0 20px;
    color: #343434;
}

.payment-method{
    position: relative;
    padding: 10px 0 30px;
}

.payment-method:after{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    right: -10px;
    top: 0;
    background: #E6E6E6;
}

.payment-method_last:after{
    display: none;
}

.payment-method span{
    display: block;
    font-size: 16px;
    text-align: left;
    color: #ADAEAD;
    margin-top: 10px;
}

.payment-method a{
    display: block;
    line-height: 55px;
}
.payment-options a img{
    max-width: 150px;
}

.modal-backdrop {
    background: #000;
}

@media screen and (max-width: 991px){
    .payment-modal .modal-dialog{
        width: 700px;
    }
    .payment-options{
        padding: 20px 0;
    }
    .payment-options h4{
        margin: 5px 0 10px;
    }
    .payment-method{
        padding: 10px 0 0;
        margin: 0 auto;
        max-width: 200px;
    }
    .payment-method a{
        line-height: 50px;
    }
    .payment-method span{
        display: none;
    }
    .payment-method:after{
        right: 0;
        top: auto;
        bottom: -6px;
        width: 100%;
        height: 1px;
    }
}

@media screen and (max-width: 767px){
    .payment-modal .modal-dialog{
        width: calc( 100% - 20px );
        max-width: 490px;
        margin: 50px 10px;
    }
}

/*--------------END MODAL WIDNOW "RESERVE"------------*/