#CDSWIDSSP .widSSPData .widSSPBranding dt.widSSPTagline,
#CDSWIDSSP .widSSPData .widSSPH18,
#CDSWIDSSP.widSSPnarrow .widSSPData .widSSPH11,
#CDSWIDSSP.widSSPnarrow .widSSPData .widSSPAll,
#CDSWIDSSP .widSSPData .widSSPLegal{display:none;}
#CDSWIDSSP .widSSPData{margin-top:-7px;}
#CDSWIDSSP .widSSPData .widSSPBranding{border-bottom:none;width:34px;left:63px;top:1px;overflow:hidden;position:absolute;}
#CDSWIDSSP .widSSPData{background-color:transparent;}
@media (max-width:767px){#CDSWIDSSP .widSSPData .widSSPBranding{left:8px;}
}
#m-box-2 .termas .opiniones{z-index:1;}
#CDSWIDSSP .widSSPData .widSSPSummary a{position:absolute;height:26px;color:transparent;white-space:nowrap;overflow:hidden;width:100px;right:73px;display:block;}
#CDSWIDSSP.widSSPnarrow .widSSPData .widSSPTrvlRtng .widSSPOverall{text-align:center;}
#CDSWIDSSP .widSSPData .widSSPTrvlRtng .widSSPOverall img{margin:3px 6px 4px 30px;}
#CDSWIDSSP .widSSPData .widSSPTrvlRtng .widSSPOverall div{white-space:nowrap;overflow:hidden;position:absolute;right:0;left:0;margin:0 auto;}