.my_profile{
    margin-top: 15px;
}

.form-wrapper{
    padding: 7px 0 27px;
}

.my_adventures>header{
    padding-right: 380px;
    position: relative;
}

.btn-export{
    position: absolute;
    right: 0;
    bottom: 0;
    background: #343b4e url("../images/phone.png") no-repeat;
    background-size: 16px 20px;
    background-position: 11px center;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    padding: 8px 18px 8px 38px;
}

.btn-export:active{
    background-image: url("../images/phone.png");
}

.btn-export:hover,
.btn-export:focus{
    color: #fff;
}

.profile-block {
    overflow: hidden;
    margin: 0 0 60px;
}

@media (max-width: 767px) {
    .profile-block {
        padding: 20px 0 0;
    }
    .btn-export{
        position: relative;
        margin-top: 20px;
        font-size: 14px;
    }
    .my_adventures>header{
        padding-right: 0;
    }
}

.profile-block h2 {
    color: #000;
    margin: 0 0 10px;
    font-size: 34px;
    line-height: 38px;
    font-family: 'PT-Sans', sans-serif;
    font-weight: 700;
}

@media (max-width: 767px) {
    .profile-block h2 {
        font-size: 26px;
        line-height: 30px;
        font-weight: 700;
    }
}

.profile-block .tablist {
    overflow: hidden;
    margin: 0 0 20px;
    letter-spacing: -4px;
    border-bottom: 1px solid #c4c4c4;
}

@media (max-width: 639px) {
    .profile-block .tablist {
        border: 0;
    }
}

.profile-block .tablist li {
    letter-spacing: 0;
    display: inline-block;
    vertical-align: top;
}

@media (max-width: 639px) {
    .profile-block .tablist li {
        display: block;
    }
}

.profile-block .tablist a {
    color: #fff;
    display: block;
    padding: 10px 20px;
    position: relative;
    background: #c75233;
    padding: 10px 20px 10px 40px;
}

.profile-block .tablist a:before {
    width: 20px;
    content: '';
    height: 20px;
    margin: 0 10px 0 0;
    position: absolute;
    left: 12px;
    top: 10px;
    right: auto;
    bottom: auto;
    background: url(../images/sprite.png) no-repeat -35px -230px;
}

.profile-block .tablist a:hover {
    background: #b6320f;
}

.profile-block .tablist a.my-adv {
    background: #79b5ac;
}

.profile-block .tablist a.my-adv:before {
    top: 6px;
    width: 19px;
    height: 24px;
    background-position: -63px -226px;
}

.profile-block .tablist a.my-adv:hover {
    background: #46968a;
}

.profile-block .tab-content {
    overflow: hidden;
}

.profile-block .tab-content #tab1 {
    overflow: hidden;
    max-width: 700px;
}

.profile-block .tab-content #tab2 header {
    max-width: 700px;
}

.profile-block header {
    margin: 0 0 17px;
}
.profile-block header p{
    margin: 0;
}


@media (max-width: 767px) {
    .profile-block header {
        text-align: center;
    }
}

.profile-block .my-intro {
    color: #45484a;
    margin: 0 0 30px;
    font-weight: 400;
}

@media (max-width: 639px) {
    .profile-block .my-intro {
        text-align: center;
    }
}

.profile-block .my-intro .img-holder {
    width: 116px;
    margin: 0 30px 0 0;
    height: 116px;
    position: relative;
}

@media (max-width: 767px) {
    .profile-block .my-intro .img-holder {
        margin: 0 auto;
    }
}

.profile-block .my-intro .img-holder img {
    width: 100%;
    display: block;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.profile-block .my-intro .text {
    padding: 20px 0 0;
    overflow: hidden;
    max-width: 400px;
}

@media (max-width: 639px) {
    .profile-block .my-intro .text {
        max-width: inherit;
    }
}

.loadavatar{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(0,0,0,0.6);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
}

.loadavatar:hover{
    opacity: 1;
}

.loadavatar input[type="file"]{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.loadavatar input[type="file"] + label{
    background: #e8dddd;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    height: auto;
    width: 100%;
}

.profile-block .profile-form label {
    width: 100%;
    text-align: right;
    margin: 6px 10px 0 0;
    color: #46494b;
}

@media (max-width: 639px) {
    .profile-block .profile-form label {
        float: none;
        width: auto;
        display: block;
        margin: 0 0 5px;
        text-align: left;
    }
}

.profile-block .profile-form .text-field {
    overflow: hidden;
    text-align: right;
}

.profile-block .profile-form .text-field .btn{
    font-size: 14px;
    padding: 7px 14px;
    font-weight: 700;
}

.profile-block .profile-form .form-control {
    height: 36px;
    border: 1px solid #c9c9c9;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #46494b;
}

.profile-block .profile-form .sub-row {
    overflow: hidden;
    margin: 0 0 10px;
}

.profile-block .profile-form .select-box {
    overflow: hidden;
}

.profile-block .profile-form .select-field {
    width: 110px;
    overflow: hidden;
    margin: 0 2px 0 0;
    display: inline-block;
    vertical-align: top;
}

.profile-block .profile-form .select-field.day {
    width: 60px;
    min-width: 50px;
}

.profile-block .profile-form .select-field.year {
    width: 70px;
    min-width: 70px;
}

.profile-block .profile-form .jcf-select {
    min-width: 60px;
    border: 1px solid #c9c9c9;
}

.profile-block .profile-form .jcf-select .jcf-select-text {
    color: #000;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}

.profile-block .profile-form a {
    color: #dd484b;
}

.profile-block .item-list {
    overflow: hidden;
    border-top: 1px solid #e5e5e5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.profile-block .item-list > li {
    width: 33%;
    padding: 8px 0;
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    display: inline-block;
    vertical-align: top;
}

.profile-block .item-list > li:nth-child(3n-3) > .order-item{
    border-right: transparent;
}

@media (max-width: 991px) {
    .profile-block .item-list > li {
        width: 100%;
        display: block;
    }
}


.profile-block .item-list .remove {
    width: 55px;
    color: #fff;
    background: #eee;
    padding: 20px 10px;
    transition: none;
    position: absolute;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
}

.profile-block .item-list .remove:before {
    content: '';
    width: 28px;
    height: 28px;
    margin: 50px 0 0 5px;
    display: inline-block;
    vertical-align: top;
    background: url(../images/ico-close.png) no-repeat;
}

.profile-block .item-list .remove span {
    display: none;
    margin: 40px 0 0;
    transform: rotate(270deg);
}

.profile-block .item-list .remove:hover {
    background: #972639;
}

.profile-block .item-list .remove:hover:before {
    margin: 30px 0 0 5px;
    background: url(../images/ico-close1.png) no-repeat;
}

.profile-block .item-list .remove:hover span {
    display: block;
}

.profile-block .item-list header {
    margin: 0 0 3px;
    position: relative;
}

@media (max-width: 767px) {
    .profile-block .item-list header {
        margin: 0;
        text-align: left;
    }
}

.profile-block .item-list .ico {
    float: left;
    width: 51px;
    margin: 0 10px 0 -35px;
}

@media (max-width: 767px) {
    .profile-block .item-list .ico {
        width: 40px;
        margin: 5px 10px 0 0;
    }
}

.profile-block .item-list .ico img {
    width: 100%;
    display: block;
    height: auto;
}

.profile-block .item-list h2 {
    margin: 0;
    color: #089f02;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
}

@media (max-width: 991px) {
    .profile-block .item-list h2 {
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
    }
}

.profile-block .item-list h2 a {
    color: #323e5b;
    font-weight: 700;
}

.profile-block .item-list h2 a:hover {
    color: #003856;
}

.profile-block .item-list .sub-title {
    display: block;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
}

@media (max-width: 991px) {
    .profile-block .item-list .sub-title {
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
    }
}

.profile-block .item-list .sub-title span {
    padding-left: 10px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    display: none;
    vertical-align: middle;
}

@media (max-width: 639px) {
    .profile-block .item-list .sub-title span {
        padding: 0;
    }
}

.profile-block .item-list .text {
    overflow: hidden;
}

.order-item {
    padding: 13px 0 58px 37px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    border-right: 1px solid #e5e5e5;
}

@media(max-width: 991px){
    .order-item{
        border-right: transparent;
    }
}

@media screen and (max-width: 460px){
    .order-item{
        padding: 13px 0 40px;
    }
}

.timing li {
    position: relative;
    padding: 10px 30px;
    display: inline-block;
    vertical-align: top;
}

.order-item .delete_offer{
    position: absolute;
    left: 0;
    bottom: 25px;
    width: 100%;
    text-align: center;
}

.order-item .delete_offer a{
    color: #972639;
    font-size: 12px;
    font-family: 'PT-Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    padding-left: 31px;
    display: inline-block;
    overflow: hidden;
    line-height: 23px;
    white-space: nowrap;
    text-align: left;
    max-width: 0;
    transition: max-width 0.7s ease;
}

.order-item .delete_offer a:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 23px;
    height: 23px;
    background: url(../images/cancel-button.svg) no-repeat;
    background-size: contain;
}

.order-item .delete_offer a:hover{
    max-width: 100%;
}

@media(max-width: 460px){
    .timing li{
        display: block;
        margin-left: 20px;
    }
}

.timing li:first-child {
    border: 0;
}

.timing-icon{
    position: absolute;
    width: 18px;
    top: 9px;
    left: 0;
}

.timing li.time:after {
    background: url(../images/clock.svg) no-repeat;
    background-size: contain;
    background-position: center center;
}

.timing li.person:after {
    background: url(../images/happy.svg) no-repeat;
    background-size: contain;
    background-position: center center;
}

.timing li.money{
    display: none;
}

.order-item strong {
    display: block;
    font-weight: normal;
}

.order-item strong.title {
    display: block;
    color: #963d4c;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}

.order-item span {
    font-weight: bold;
}

.profile-block .text-area {
    overflow: hidden;
    padding: 30px 0 0;
    max-width: 700px;
}

.list-box{
    display: none;
}

.print_notification_wrapper{
    margin: 10px 0 0;
}

.to_print{
    margin-left: 10px;
}

.check_activity{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 900;
    border: 2px solid #000;
    width: 16px;
    height: 16px;
    margin: 0;
    border-radius: 2px;
    cursor: pointer;
    display: none;
}

.check_activity input{
    display: none;
}

.check_activity .glyphicon{
    position: absolute;
    top: -6px;
    left: 0;
    margin: 0;
    font-size: 18px;
    color: #089f02;
    opacity: 0;
}

.check_activity:hover .glyphicon{
    opacity: 0.5;
}

.check_activity input[type=checkbox]:checked ~ .glyphicon{
    opacity: 1;
}

@media screen and (max-width: 560px){
    .print_notification_wrapper>span{
        display: block;
        margin-bottom: 10px;
    }
    .to_print{
        margin: 0;
    }
}
