//Libraries
@import "./common";
//@import "../../../public/libs/product-tour/product-tour.min";
@import "../../../public/libs/jquery-ui/slider/jquery-ui.min";
@import "../../../public/libs/jcf/css/jcf.custom";
@import "../../../node_modules/magnific-popup/dist/magnific-popup";
@import "../../../node_modules/chosen-js/chosen";
//Components
@import "components/instafeed";
@import "components/offer-items";
@import "components/comments";
@import "components/loader";
@import "components/activity-banner";

.main-header {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 21px;
  padding: 0px 0;
}

.visual {
  height: 342px;
  overflow: visible;
  margin-bottom: 45px;
}

.activity-search {
  position: absolute;
  bottom: 14px;
  left: 0;
  text-align: right;
  width: 100%;
}

.chosen-container {
  text-align: left;
  font-size: 15px;
}

.chosen-container-single .chosen-single {
  border: none;
  padding: 10px 0 10px 47px;
  height: auto;
  line-height: 1;
  border-radius: 4px;
  background: #ffffff url(../../images/magnifier-tool.png) no-repeat 16px center;
  background-size: 18px;
}

.chosen-container-active.chosen-with-drop .chosen-single {
  border: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #ffffff url(../../images/magnifier-tool.png) no-repeat 16px center;
  box-shadow: 0 1px 0 #fff inset;
}

.chosen-container-single .chosen-search input[type=text] {
  color: #000;
}

.chosen-container .chosen-results li {
  padding: 5px 9px;
  color: #656565;
}

.chosen-container .chosen-results li.highlighted {
  background: #eab011;
  color: #fff;
}

.accordion .sub-title {
  line-height: 30px;
}

@media screen and (min-width: 992px) {
  .your-reservation.activity.add > .row {
    display: flex;
  }
  .your-reservation.activity #activity-single-sidebar {
    overflow: hidden;
    position: relative;
  }
  .your-reservation.activity #activity-single-sidebar .important-block:after {
    content: '';
    position: absolute;
    width: calc(100% - 22px);
    height: 100%;
    left: 0;
    background: #f8f8f8;
    margin: 0 11px;
  }
}

.box {
  max-width: 713px;
  padding: 15px 0;
  position: relative;
  margin: 0 0 0 30px;
}

.widget {
  color: #fff;
  padding: 20px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

.widget ul li {
  position: relative;
  padding: 0 0 5px 20px;
}

.widget ul li:after {
  width: 12px;
  content: '';
  height: 12px;
  position: absolute;
  left: 0;
  top: 3px;
  right: auto;
  bottom: auto;
  background: url(../../../images/sprite.png) no-repeat -88px -230px;
}

.widget ul.chosen-results li:after {
  display: none;
}

.widget h2 {
  color: #fff;
  margin: 0 0 10px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
}

.widget p {
  margin: 0 0 10px;
}

.important-block {
  overflow: hidden;
  margin: 10px 0 0;
  background: #f8f8f8;
  padding: 0 20px 300px;
  border-radius: 4px;
  .google_alertBox_hr{
    margin-bottom: 2px;
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .important-block {
    padding: 0 10px 20px;
  }

  .your-reservation.activity .accordion .ico {
    float: none;
    display: block;
    margin: 0 0 10px;
    position: static;
    width: 80px;
  }
}

.important-block .box ul {
  padding: 0;
  list-style: none;
}

.important-block .box ul li {
  margin: 0 0 6px;
  position: relative;
}

.important-block .box > ul li:before {
  content: "\2022";
  position: absolute;
  left: -13px;
  top: -1px;
  color: #4F4F4F;

}

.important-block .box.alert p {
  font-family: 'PT-Sans', sans-serif;
  font-size: 15px;
  color: #000000;
  margin: 5px 0 0;
  position: relative;
  &:before {
    position: absolute;
    content: '';
    left: -34px;
    top: -2px;
    width: 22px;
    height: 20px;
    background: url(../../../images/warning.svg) no-repeat;
    background-size: contain;
  }
  strong {
    color: #882233;
  }
}

.important-block .box.tripadvisor {
  margin: 0;
  padding: 10px 0 22px;
  border-bottom: 0;
}

.important-block .box.tripadvisor #CDSWIDSSP {
  margin: auto;
}

.important-block .box.tripadvisor #CDSWIDSSP .widSSPData {
  background-color: transparent;
}

.important-block .box.tripadvisor #CDSWIDSSP .widSSPData sup {
  top: 0;
}

.important-block .box.tripadvisor #CDSWIDSSP img {
  background-color: transparent;
}

.important-block h2 {
  margin: 0;
  color: #963d4c;
  font-size: 23px;
  font-weight: bold;
  line-height: 26px;
}

.important-block .sub-title {
  color: #963d4c;
  display: block;
  font-size: 17px;
  margin: 0 0 10px;
  font-weight: 700;
  line-height: 20px;
}

.important-block .title {
  display: block;
  font-size: 15px;
  font-weight: 700;
  margin: 0 0 10px;
  line-height: 18px;
}

.important-block .list {
  overflow: hidden;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

.important-block .list li {
  position: relative;
  padding: 0 0 5px 10px;
}

.important-block .list li:after {
  width: 3px;
  height: 3px;
  content: '';
  background: #089f02;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 8px;
  right: auto;
  bottom: auto;
}

.img-tour {
  overflow: hidden;
}

.img-tour img {
  width: 100%;
  display: block;
  height: 125px;
  object-fit: cover;
}

.img-tour .row > div {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.location {
  overflow: hidden;
  padding: 20px 0 0;
}

.location header {
  padding-left: 41px;
  position: relative;
}

.location header:before {
  content: '';
  position: absolute;
  height: 35px;
  width: 30px;
  background: url(../../../images/location-point.svg) no-repeat;
  background-size: contain;
  left: 8px;
  top: 1px;
}

.location h3 {
  margin: 0;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
}

.location .map-holder {
  margin: 0;
}

.location img {
  width: 100%;
  display: block;
  height: auto;
}

.location p {
  margin: 3px 0 20px;
}

@media(max-width: 991px) {
  .important-block {
    padding-bottom: 30px;
    margin-bottom: 35px;
  }
  .important-block .box.tripadvisor,
  .important-block .img-tour,
  .important-block .location {
    display: none;
  }
  .img-tour img {
    height: 234px;
  }
}

@media(max-width: 767px) {
  .img-tour img {
    height: auto;
  }
}

.title-box {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

.title-box strong {
  display: block;
  margin: 0 0 20px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

@media (max-width: 767px) {
  .title-box strong {
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
  }
}

.activity-basket {
  background-color: #fff0c8;
  border-radius: 4px;
  font-size: 15px;
  header {
    margin-bottom: 19px;
    padding: 15px 14px 5px 15px
  }
  dl {
    margin-bottom: 9px;
    padding-right: 10px;
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
  dt, dd {
    float: left;
  }
  dt {
    width: 35%;
    text-align: right;
  }
  dd {
    width: 65%;
    padding-left: 8px;
  }
  &__confirms-list {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      position: relative;
      padding-left: 18px;
    }
    button {
      position: absolute;
      border: none;
      outline: none;
      background-color: #ebb414;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      padding: 0;
      &:before {
        content: '';
        position: absolute;
        width: 6px;
        height: 2px;
        background-color: #f9edc0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
  footer {
    border-top: 1px solid #e2e1d3;
    background-color: #f2b41b;
    padding-top: 7px;
    text-align: center;
    a {
      display: inline-block;
      vertical-align: middle;
      font-weight: 700;
      &:hover,
      &:focus {
        opacity: 0.6;
      }
    }
    .col-xs-6:last-child {
      border-left: 0.5px solid whitesmoke;
    }
    .row{
      padding: 5px 0 15px 0;
    }
  }
  &__to-calendar {
    color: white;
    background: url('../../images/calendar-orange.svg') no-repeat 0 center;
    background-size: 15px;
    padding-top: 4px;
    &:hover,
    &:focus {
      color: white;
    }
    @media screen and (max-width: 991px) {
      float: right;
    }
  }
  &__to-reserve {
    background: #f2b41b url('../../images/check-icon.pn') no-repeat 7px center;
    background-size: 19px;
    color: #ffffff;
    border-radius: 4px;
    font-size: 20px;
    &:hover,
    &:focus {
      color: #ffffff;
    }
    @media screen and (max-width: 991px) {
      float: left;
    }
  }
}

.activity-title {
  margin-bottom: 12px;
}

.activity .activity-title {
  h1 {
    font-weight: 700;
    font-family: 'Dosis', sans-serif;
    font-size: 40px;
    margin-bottom: 15px;
    color: #000000;
    line-height: 1;
    @media screen and (max-width: 767px) {
      font-size: 32px;
    }
    @media screen and (max-width: 500px) {
      font-size: 28px;
    }
  }
  .tripadvisorReviews {
    width: 428px;
    margin-bottom: 7px;
    .ratingTropadvisor{
      margin: 0 9px 0 0;
      display: inline-block;
      position: relative;
      width: 78px;
      height: 20px;
      .tripadvisor-0{
        position: absolute;
        width: 78px;
        height: 20px;
        background: url(../../images/siteImages/tripadvisor-0.png) repeat-x;
        background-size: 78px 20px;
      }
      .tripadvisor-5{
        position: absolute;
        width: 78px;
        height: 20px;
        background:url(../../images/siteImages/tripadvisor-5.png) repeat-x;
        background-size: 78px 20px;
      }
    }
    .rating{
      margin-top: -3px;
    }
    .ratingCount{
     font-size: 15px;
    }
    .reviews{
      white-space: nowrap;
      color: #6d9445;
      font-size: 14px;
      margin-left: 0;
    }
  }
  .googleReviews {
    .ratingNumber{
      vertical-align: 39%;
      color: #cc6c21;
      font-size: 15px;
      font-weight: bold;
    }
    .rating-reviews{
      display: inline-block;
      .ratingCount{
        display: inline-block;
      }
      .reviews{
        white-space: nowrap;
        vertical-align: 40%;
        padding-left: 5px;
        color: #cc6c21;
      }
    }
    .logoOfGoogle {
      vertical-align: 20%;
      margin-right: 4px;
    }
  }
  .box.tripadvisor {
    padding-top: 0;
    margin-left: 10px;
  }
}

.activity-description {
  font-size: 15px;
  margin: 0 0 46px;
  line-height: 1.6;
}

.weather-box {
  padding: 20px;
  color: #963d4c;
  font-size: 13px;
  line-height: 16px;
  margin: 0 0 20px;
  overflow: hidden;
  border-color: #ccc;
  background: #f7f7f7;
  border-style: solid;
  border-width: 1px 0;
  @media screen and (max-width: 991px) {
    display: none;
  }
  iframe {
    border: 0;
    width: 100%;
    display: block;
  }
  h2 {
    color: #963d4c !important;
    margin: 0 0 20px;
    font-size: 23px;
    font-weight: bold;
    line-height: 28px;
  }
}

.activity-instagram, .googleSearchedPhotos {
  padding: 29px 0 0;
  @media screen and (max-width: 767px) {
    margin: 0 auto 7px;
    max-width: 600px;
  }
  .instafeed, .photos {
    margin-left: -11px;
    margin-top: 13px;
    @media screen and (max-width: 767px) {
      margin-left: 0;
    }
  }
  .activity-tag {
    padding-left: 36px;
    background-image: url(../../../images/instagram.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 27px;
    line-height: 27px;
    color: #e12570;
    display: inline-block;
    &:before {
      content: "#";
    }
  }
}

.in-image-activity,
.in-image-activity > a > img {
  width: 103px;
  height: 103px;
}

@media screen and (max-width: 767px) {
  .in-image-activity {
    width: 25%;
    height: auto;
    padding: 0;
  }
  .in-image-activity > a > img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .in-image-activity {
    width: 33.3333%;
  }

}

@media screen and (max-width: 1470px) and (min-width: 1312px) {
  .in-image-activity,
  .in-image-activity > a > img {
    width: 90px;
    height: 90px;
  }
}
@media screen and (max-width: 1312px) and (min-width: 1196px) {
  .in-image-activity,
  .in-image-activity > a > img {
    width: 77px;
    height: 77px;
  }
}
@media screen and (max-width: 1196px) and (min-width: 992px) {
  .in-image-activity,
  .in-image-activity > a > img {
    width: 90px;
    height: 90px;
  }
  .in-image-activity {
    &:last-child {
      display: none;
    }
  }

}

.your-reservation .subnav {
  background: #ededed;
  border: 1px solid #ccc;
  position: relative;
}

.your-reservation .subnav:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: #089f02;
}

.your-reservation .subnav ul {
  overflow: hidden;
  padding: 8px 0;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
}

.your-reservation .subnav ul li {
  padding: 0 13px;
  display: inline-block;
  vertical-align: top;
}

@media screen and (max-width: 1139px) and (min-width: 992px) {
  .your-reservation .subnav ul li {
    padding: 0 9px;
  }
}

@media (max-width: 767px) {
  .your-reservation .subnav {
    margin: 0 0 20px;
  }

  .your-reservation .subnav ul li {
    display: block;
    padding: 5px 13px;
  }
}

.your-reservation .subnav ul li.active a {
  color: #007878;
}

.your-reservation .subnav ul a {
  color: #000;
}

.your-reservation .subnav ul a:hover {
  color: #007878;
}

.your-reservation .links {
  overflow: hidden;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.your-reservation .links li {
  margin: 0 20px 0 0;
  display: inline-block;
  vertical-align: middle;
}

.your-reservation .links a {
  color: #089f02;
}

.your-reservation .links a:hover {
  text-decoration: underline;
}

.offer-item-desc {
  margin: 10px;
  font-size: 13px;
}

.select-activity {
  border-bottom: 1px solid #d9d9d9;
  &__add-button {
    color: #fff;
    float: right;
    min-width: 100px;
    background-color: #eab011;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    &:focus,
    &:hover {
      color: #fff;
      background-color: #ffc311;
    }
    @media screen and (max-width: 1149px) and (min-width: 992px), screen and (max-width: 767px) {
      float: none;
      margin-bottom: 10px;
    }
  }
}

.select-activity .timing1 {
  border: none;
  margin: 21px 0 0;
}

@media (max-width: 767px) {
  .select-activity .timing1 {
    padding-bottom: 0;
  }
}

.timing1 {
  margin: 0 0 10px;
  padding: 0 24px 10px 0;
  border-bottom: 1px solid #d9d9d9;
}

.timing1 li {
  overflow: hidden;
  position: relative;
  padding-left: 30px;
}

.timing1 li.time {
  min-height: 40px;
}

.timing1 li.profile {
  padding: 10px 0 3px 30px;
}

.timing1 li.profile.hours {
  padding: 0 0 13px 30px;
}

.timing1 li.profile:after {
  width: 20px;
  content: '';
  height: 20px;
  position: absolute;
  left: 1px;
  top: 17px;
  right: auto;
  bottom: auto;
  background: url(../../../images/happy.svg) no-repeat;
  background-size: contain;
  background-position: center center;
}

.timing1 li.profile.hours:after {
  width: 22px;
  height: 22px;
  background: url(../../../images/clock.svg) no-repeat;
  background-size: contain;
  background-position: center center;
  top: 43px;
}

.timing1 li.profile.hours.without_choice:after {
  display: none;
}

.timing1 li.profile .jcf-select .jcf-select-opener {
  display: none;
}

.timing1 li.profile .jcf-select {
  border: 2px solid #FDD164;
}

@media screen and (max-width: 767px) {
  .timing1 li.profile .jcf-select {
    width: auto;
  }
}

.timing1 li.profile .jcf-select .jcf-select-text {
  color: #F5AD00;
  font-weight: bold;
}

.timing1 li.profile .jcf-select .jcf-select-opener:after {
  border-color: #fff transparent transparent;
}

.timing1 li.profile.hours .jcf-select {
  min-width: 100px;
  width: auto;
}

.timing1 li.profile.hours strong,
.timing1 li.profile.hours label {
  margin-bottom: 3px;
}

.timing1 li.profile.hours label {
  display: block;
  margin-bottom: 18px;
  font-weight: 400;
}

.timing1 li.cal:after {
  width: 18px;
  content: '';
  height: 18px;
  position: absolute;
  left: 0;
  top: 8px;
  right: auto;
  bottom: auto;
  background: url(../../../images/calendar.svg) no-repeat;
  background-size: contain;
  background-position: center center;
}

.timing1 p {
  margin: 0;
}

.timing1 .btn-primary {
  float: left;
  font-weight: normal;
  background: #963d4c;
  text-transform: none;
}

.your-reservation.activity .price {
  padding: 0 0 12px;
  text-align: right;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .your-reservation.activity .price {
    padding: 0 0 10px 12px;
    text-align: left;
  }
}

.your-reservation.activity .price.add {
  padding: 0;
}

.tab-content {
  padding-top: 26px;
}

.your-reservation .accordion h2 {
  float: left;
  line-height: 1;
  font-weight: 700;
  font-size: 31px;
  font-family: 'Dosis', sans-serif;
}

.your-reservation .accordion h2 a:hover {
  color: #f8be00;
}

.your-reservation .accordion > .offer-item {
  border-bottom: 1px solid #e5e5e5;
}

@media screen and (max-width: 1149px) and (min-width: 992px) {
  .select-activity > .row > div {
    width: 100%;
  }
  .select-activity > .row > .col-md-4 {
    padding-left: 44px;
  }

  .your-reservation.activity .price {
    text-align: left;
    padding-bottom: 10px;
  }
  .your-reservation.activity .btn-primary {
    float: none;
    margin-bottom: 15px;
  }
}

// Get offers block

%get-offers-item {
  display: inline-block;
  vertical-align: top;
  height: 49px;
  color: #fff;
  font-weight: 700;
  border-radius: 4px;
  font-size: 18px;
}

.get-offers {
  font-size: 0;
  text-align: right;
  margin-bottom: 27px;
  &__date-persons {
    font-size: 0;
    @extend %get-offers-item;
    width: calc(54% - 17px);
    background-color: #fcfbeb;
    color: #dfa600;
    padding: {
      top: 11px;
      bottom: 11px;
      right: 17px;
    }
    @media screen and (max-width: 1149px) and (min-width: 992px) {
      padding-left: 15px;
    }
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
  &__sub-col {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    width: 45%;
    height: 29px;
    text-align: center;
    &:first-child {
      width: 55%;
      border-right: 1px solid #cac9bc;
    }
  }
  &__datepicker {
    width: 119px;
    border: none;
    outline: none;
    background: transparent url('../../../images/calendar-orange.svg') no-repeat;
    background-position: 0px 5px;
    background-size: 15px;
    text-align: right;
  }
}

.jcf-select-get-offers__persons-select {
  width: auto;
  min-width: 90px;
  border: none;
  height: auto;
  background-color: transparent;
  .jcf-select-text {
    color: #dfa600;
    margin: {
      top: 4px;
      bottom: 4px;
      right: 25px;
    }
  }
  .jcf-select-opener {
    width: 22px;
    &:after {
      border-top-color: #dfa600;
      border-width: 6px 5px 0;
      top: 10px;
      right: 6px;
    }
  }
}

@media screen and (max-width: 700px) {
  %get-offers-item {
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }
}


//Offers navigation

.offers-navigation {
  background-color: #EEEEEE;
  padding: 9px 0;
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  &__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 29px;
    font-size: 12px;
    &:last-child {
      margin-right: 0;
    }
    @media screen and (max-width: 450px) {
      display: block;
      margin: 0 0 10px;
      font-size: 14px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .active > a {
    font-weight: 700;
  }
  &__link {
    color: #000;
    &:hover,
    &:visited,
    &:focus {
      color: #000;
    }
  }
}


.your-reservation .win-donamos-section {

  font-family: "Dosis";
  text-align: center;
  font-size: 17px;

  p{
    margin-right: 27px;
    margin-left: 27px;
    line-height: 1.2;
  }
  .win-10 {
    background-color: #cae8ee;
    h2{
      font-size: 41px;
      color: rgb(127,45,76);
      font-weight: bold;
    }
    img{
      width: 70%;
      height: auto;
      padding-bottom: 10px;
      @media screen and (max-width: 991px) {
        width: auto;
      }
    }
  }
  .donamos-1 {
    background-color: #a9d1ae;
    h2{
      font-size: 39px;
      color: rgb(43,43,43);
      font-weight: bold;
      padding-top: 10px;
    }
    img{
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  h2{
    @media screen and (max-width: 1280px) {
      font-size: 30px!important;
    }
  }
}



.lclink:hover {
  color: blue;
}

html {
  overflow-x: hidden;
}

.star-ratings-sprite {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  background-size: 18px 36px;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 90px;
  margin: 0 auto;
}
.star-ratings-sprite-rating {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  background-position: 0 131%;
  background-size: 18px 36px;
  float: left;
  height: 20px;
  display: block;
}

#d1 {
  display: table;
}

#d2 {
  display: table-cell;
  vertical-align: middle;
}



