@page{
  margin: 0.5cm;
}

@font-face{
  font-family:"PT-Sans";
  font-style:normal;
  font-weight: 400;
  src:url("../fonts/PT_Sans-Web-Regular.ttf")
  format("truetype");
}
@font-face{
  font-family:"PT-Sans";
  font-style:normal;
  font-weight: 700;
  src:url("../fonts/PT_Sans-Web-Bold.ttf")
  format("truetype");
}

body{
  font-family: "PT-Sans", sans-serif;
  font-size: 14px;
}

a{
  text-decoration: none;
  color: #0a1f1f;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media print{

  .print-header{
    position: relative;
    background-color: #e5e5e5 !important;
    -webkit-print-color-adjust: exact;
    padding: 14px 106px;
    margin-bottom: 31px;
  }

  .print-header img{
    position: absolute;
    opacity: 0.5;
    top: 10px;
  }

  .print-header img:nth-child(1){
    left: 23px;
    width: 22px;
    height: 23px;
  }

  .print-header img:nth-child(2){
    right: 23px;
    height: 26px;
    width: 19px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .print-item{
    border: 1px solid #b2b2b2;
    margin-bottom: 28px;
    padding: 0 25px;
    display: block;
    page-break-inside: avoid;
    header{
      padding: 20px 0 0 10px;
      margin: 0 0 20px;
      &:after{
        content: '';
        display: table;
        clear: both;
      }
      h2{
        margin: 0;
        font-weight: 400;
        line-height: 31px;
        color: #089f02 !important;
        font-size: 20pt;
        text-transform: uppercase;
      }
      span{
        display: block;
        font-size: 12px;
        line-height: 26px;
        strong{
          font-size: 22px;
          font-weight: 400;
          padding-right: 10px;
        }
      }
    }
  }

  .icon{
    margin: 2px 10px 0 0;
    position: relative;
    left: auto;
    top: auto;
    width: 51px;
    min-height: 60px;
    float: left;
    img{
      width: 100%;
      max-height: 80px;
    }
  }


  .row{
    margin-left: -11px;
    margin-right: -11px;
    &:before,
    &:after{
      content: "";
      display: table;
    }
    &:after{
      clear: both;
    }
  }

  .col{
    float: left;
    width: 50%;
    padding: 0 11px 15px;
    position: relative;
    margin: 0;
  }

  .list-box{
    display: block;
    margin: 0 0 15px 60px;
  }

  .list-box strong{
    display: block;
    font-weight: bold;
    padding: 0 0 5px 10px;
  }

  .list-box ul {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .list-box ul li {
    position: relative;
    padding: 0 0 5px 10px;
  }

  .list-box ul li:after{
    content: "\2022";
    position: absolute;
    left: 0;
    top: 0;
    font-size: 9px;
    color: #089f02 !important;
  }

  .information-list{
    padding-left: 25px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    display: inline-block;
    list-style: none;
    li{
      position: relative;
      padding: 0 0 10px;
      &.person{
        padding: 5px 0 15px;
      }
      &.money .information-list__image{
        margin-top: 6px;
      }
    }
    span{
      display: block;
    }
    .title{
      color: #963d4c !important;
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
      display: block;
    }
    &__image{
      position: absolute;
      width: 18px;
      top: 2px;
      left: -27px;
    }
  }

  .print-item-header{
    text-align: right;
    padding: 12px 0;
    border-bottom: 1px solid #c4c4c4;
  }

  .print-item-header img{
    width: 161px;
  }

  .print-item-header a:after,
  .print-item-footer a:after{
    content: "";
  }

  .print-item-footer{
    text-align: center;
    padding: 12px 0;
    border-top: 1px solid #c4c4c4;
  }

}