@import "./admin-agency-common";
@import "../../../node_modules/select2/dist/css/select2";
@import "../../../node_modules/toastr/build/toastr";



.under-header {
  position: relative;
  background-color: #f5f5f5;
  width: 100%;
  height: 78px;
  .addActivity {
    position: absolute;
    right: 6%;
    top: 34%;
    font-size: 15px;
    line-height: 21px;
    background-color: #5cb85c;
    color: white;
    text-transform: none;
    &:hover{
          background-color: #449144;
    }
  }
}
.activities {
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 30px;
  margin-bottom: 100px;
  .activity {
    margin-bottom: 14px;
    height: 100%;
    //height: 363px;
    //width: 242px;
    padding-left: 20px;
    padding-right: 12px;
    background-color: #f8f8f8;
    h3{
      font-size: 25px;
      color: rgb(9,89,96);
      font-weight: bold;
      margin-bottom: 23px;
      text-transform: uppercase;
    }
    .activity-hours{
      margin-bottom: -6px;
      .hours{
        padding-left: 7px;
        display: inline-block;
        vertical-align: top;
      }
    }
    .info{
      margin-top: -5px;
      padding-bottom: 15px;
    }
    .info ~ .info {
     margin-top: 0;
    }
    .edit-activity{
      position: relative;
      height: 47px;
      .edit-activity-icon{
        position: absolute;
        bottom: 17px;
        right: 9px;
        width: 35px;
        height: 31px;
        background-color: #636363;
        background-image: url('../../images/siteImages/adminAgency/edit-svg.svg');
        background-repeat: no-repeat;
        background-size: 17px auto;
        background-position: center center;
        cursor: pointer;
      }
    }
  }

  @media (max-width: 480px) {
    margin-right: 30px;
    .col-xs-6 {
      width: 100% !important;
    }
  }


  .col-xs-5ths,
  .col-sm-5ths,
  .col-md-5ths,
  .col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 3px;
    padding-left: 3px;
  }
  @media (min-width: 1401px) {
    .col-xs-5ths,
    .col-sm-5ths,
    .col-md-5ths,
    .col-lg-5ths {
      position: relative;
      min-height: 1px;
      padding-right: 7px;
      padding-left: 7px;
    }
  }

  //equal height columns, right way
  .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }
  .row > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }

}

#addActivityModal, #editActivityModal{
  .modal-dialog{
    width: 750px;
    margin: auto;
    @media (max-width:767px) {
      width: auto;
    }
    .modal-content{
      background-color: #f9f6e6;
    }
    .modal-header {
      border: 0;
      padding-bottom: 0;
      h4 {
        font-size: 19px;
        line-height: 23px;
        font-weight: 500;
        text-transform: uppercase;
        color: #b49f70;
        padding-left: 91px;
      }
    }
    .modal-body{
      padding-right: 35px;
      .times{
        .col-sm-4 {
          padding-left: 0;
          padding-right: 3px;
          margin-bottom: 3px;
          .operations{
            min-height: 34px;
            position: relative;
            span{
              position: absolute;
              top: 29%;
              font-size: 12px;
              color: green;
              cursor: pointer;
            }
            .glyphicon-remove{
              left: 20px;
              color: gray;
            }
          }
        }
      }
      .select2-container--default .select2-selection--multiple{
        border: 1px solid #ccc;
      }
      .select2-container .select2-selection--multiple {
        min-height: 34px;
      }

    }
    .modal-footer {
      padding-right: 35px;
      border: 0;
    }
  }
}

/*
*   Vertically centering the modal
*/
@media screen  and (min-width:768px) {
  .modal-dialog {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%) !important;
  }
}
