%clearboth {
  content: '';
  display: table;
  clear: both;
}

%inline-block {
  &_middle {
    display: inline-block;
    vertical-align: middle;
  }
  &_top {
    display: inline-block;
    vertical-align: top;
  }
  &_bottom {
    display: inline-block;
    vertical-align: bottom;
  }
}

@import "../../../public/libs/bootstrap/css/bootstrap";

@import "./components/core/fonts";
@import "./components/core/admin-agency-main-header";


main {
  min-height: calc(100vh - 368px);
  @media screen and (max-width: 991px) {
    min-height: calc(100vh - 627px);
  }
  @media screen and (max-width: 767px) {
    min-height: calc(100vh - 717px)
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-wrapper {
  overflow-x: hidden;
  position: relative;
}

.container-fluid {
  //padding-right: 24px;
  padding-left: 24px;
}

.top_nav ul, .two-columns .list, .two-columns .meta, .activities .list, .packages .list, .activities-list, .res-process .col ul, .main-footer .footer-nav ul, .main-footer .payment-cards, .reservation .payment-card, .program-schedule ul, .transparent-price .list, .social-likes ul, .your-reservation .timing1, .your-reservation .accordion, .your-reservation .list-box .list, .your-reservation .timing, .your-reservation .subnav ul, .your-reservation .links, .your-reservation .you-add .list, .your-reservation .category, .your-reservation .widget ul, .your-reservation .important-block .list, .table .tbody, .profile-block .tablist, .profile-block .item-list, .profile-block .timing, .all-activities .subnav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#main:after, .activites-bar:after, .activities-list:after, .your-reservation:after, .your-reservation.activity .accordion header:after, .your-reservation .you-add .list li:after, .your-reservation .important-block .box:after {
  clear: both;
  content: '';
  display: block;
}

.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
  outline: none;
}

.btn:active, .btn.active {
  -webkit-box-shadow: none;
  box-shadow: none;
}


.btn {
  border: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.btn-primary {
  background: #133939;
}

.btn-primary:hover {
  background: #234646;
}

.btn-success {
  background: #5cb85c;
}

.btn-success:hover {
  background: #048500;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

a:hover, a:focus, a:active {
  outline: none;
  text-decoration: none;
}

body > .ui-datepicker {
  z-index: 9999 !important;
}

* {
  max-height: 1000000px;
}

input[type=text], input[type=password],
input[type=file], input[type=email],
input[type=submit], input[type=tel], textarea {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-appearance: none;
}

.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
}

.overlay-active .overlay {
  opacity: 1;
  z-index: 100;
  visibility: visible;
}

.overlay-active .your-reservation .date-time {
  z-index: 101;
  position: relative;
}

.overlay-active #ui-datepicker-div {
  z-index: 101 !important;
}

html {
  height: 100%;
}

body {
  color: #000;
  min-width: 320px;
  font: 14px/18px 'PT-Sans', sans-serif;
  overflow-x: hidden;
  position: relative;
}


// five equal width columns

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 7px;
  padding-left: 7px;
  //border:1px solid;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}
