@import "./common";
@import "../../../node_modules/fullcalendar/dist/fullcalendar";
@import "./components/reservation-sidebar";
@import "./components/export-button";
@import "./components/loader";


.calendar-page-header{
  margin-top: 48px;
  max-width: 600px;
  padding-bottom: 29px;
  &__title{
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 22px;
    @media screen and (max-width: 480px){
      font-size: 26px;
    }
  }
  &__description{
    margin: 0 0 23px;
  }
  &__include-activities-button{
    background-color: #ebae00;
    text-transform: lowercase;
    &:first-letter {
      text-transform: uppercase
    }
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    padding: 7px 14px;
    border-radius: 3px;
    display: inline-block;
    vertical-align: top;
    transition: all .2s ease;
    &:hover,
    &:focus{
      color: #fff;
      background-color: #209D5B;
    }
  }
  &__export-button{
    vertical-align: top;
    margin-left: 31px;
    text-transform: lowercase;
    &:first-letter {
      text-transform: uppercase
    }
    @media screen and (max-width: 480px){
      display: table;
      margin:{
        top: 10px;
        left: 0;
      }
    }
  }
}

.fc-toolbar h2{
  font-weight: 700;
}

.btn-success.btn-success-cal{
  font-size: 14px;
  font-family: "PT-Sans", sans-serif;
  font-weight: 700;
  padding: 9px 15px;
}

/* Calendar Customization */
.fc-time-grid .fc-event,
.fc-time-grid .fc-bgevent {
  /*text-align: center;*/
}

.fc-event.cal-offer {
  padding: 12px 10px;
  border-radius: 0px;

  .fc-bg {
    display: none;
  }
  .fc-title {
    margin-top: 60px;
    color: black;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
  }

  .fc-time {
    display: none;
  }
  .agency-name{
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 16px;
    color: #000;
    margin-top: -31px;

  }
  .price {
     margin-bottom: 40px;
     font-size: 14px;
     line-height: 16px;
     color: #000;
     margin-top: 0px;
   }
  .move-days{
    position: absolute;
    bottom: 10px;
    left: 30%;
    font-size: 14px;
    color: rgba(0,0,0,0.6);
    font-style: italic;;

  }
  a.move.prev{
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  a.move.next{
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}

@media (max-width: 767px) {
  .fc-event.cal-offer .hours,
  .fc-event.cal-offer .persona {
    margin-left: 0;
  }
}
@media screen and (max-width: 625px){
  .calendar .fc-center{
    display: block;
    clear: both;
  }
  .calendar .fc-center h2{
    font-size: 24px;
    margin-top: 15px;
  }
}
.fc-event.cal-offer .move,
.fc-event.cal-offer .delete {
  color: #d1d1d1;
  font-size: 16px;
}
.fc-event.cal-offer .move:hover,
.fc-event.cal-offer .delete:hover {
  color: #ffffff;
}
.fc-event.cal-offer .delete {
  position: absolute;
  right: 8px;
  top: 12px;
  z-index: 5;
}

.sidebar__block{
  margin-top: 15px;
  margin-bottom: 20px;
}

.btn-block{
  font-size: 14px;
  font-weight: 700;
  background: #003856;
  padding: 12px 0;
  border-radius: 0;
  display: block;
  color: #fff;
}

.btn-block:hover,
.btn-block:focus{
  color: #fff;
  background: #072334;
}

.generate-link__generated-link{
  border: 1px solid #ccc;
  margin-top: 10px;
  width: 100%;
  padding: 7px 9px;
  display: none;
}

.sidebar{
  margin: 0;
  margin-top: 50px;
  .activity-basket {
    background-color: #fff0c8;
    border-radius: 4px;
    font-size: 15px;
    header {
      margin-bottom: 19px;
      padding: 15px 14px 5px 15px
    }
    dl {
      margin-bottom: 9px;
      &:after {
        content: '';
        display: table;
        clear: both;
      }
    }
    dt, dd {
      float: left;
    }
    dt {
      width: 35%;
      text-align: right;
    }
    dd {
      width: 65%;
      padding-left: 8px;
    }
    &__confirms-list {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        position: relative;
        padding-left: 18px;
      }
      button {
        position: absolute;
        border: none;
        outline: none;
        background-color: #ebb414;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        padding: 0;
        &:before {
          content: '';
          position: absolute;
          width: 6px;
          height: 2px;
          background-color: #f9edc0;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
    footer {
      border-top: 1px solid #e2e1d3;
      background-color: #f2b41b;
      padding-top: 7px;
      text-align: center;
      height: 59px;
      a {
        display: inline-block;
        vertical-align: middle;
        font-weight: 700;
        &:hover,
        &:focus {
          opacity: 0.6;
        }
      }
      .col-xs-6:last-child {
        border-left: 0.5px solid whitesmoke;
      }
      .row{
        padding: 9px 0 15px 0;
      }
    }
    &__to-calendar {
      color: white;
      background: url('../../images/calendar-orange.svg') no-repeat 0 center;
      background-size: 15px;
      padding-top: 4px;
      &:hover,
      &:focus {
        color: white;
      }
      @media screen and (max-width: 991px) {
        float: right;
      }
    }
    &__to-reserve {
      background: #f2b41b url('../../images/check-icon.pn') no-repeat 7px center;
      background-size: 19px;
      color: #ffffff;
      border-radius: 4px;
      font-size: 20px;
      &:hover,
      &:focus {
        color: #ffffff;
      }
    }
  }
  @media screen and (max-width: 991px) {
   margin: auto;
  }
}
