@import "../../../node_modules/owl.carousel/dist/assets/owl.carousel";

@import "./common";
@import "../../../public/libs/jquery-ui/slider/jquery-ui.min";
@import "../../../public/libs/jcf/css/jcf.custom";
// @import "../../../public/libs/product-tour/product-tour.min";


.video-section{
  padding: 65px 0 45px;
  text-align: center;
  background-color: #F2F2F2;
  border: solid #9A9A9A;
  border-width: 1px 0;
  &__header{
    padding: 7px 40px 35px;
    @media screen and (max-width: 560px){
      padding: 7px 0 35px;
    }
  }
  &__title{
    font-size: 48px;
    font-weight: 700;
    margin: 0 0 5px;
    color: #006DA6;
    display: inline-block;
    line-height: 1;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      right: -51px;
      top: -15px;
      width: 51px;
      height: 51px;
      background: url('../../images/sale.png') no-repeat;
      background-size: contain;
    }
    @media screen and (max-width: 560px){
      font-size: 38px;
      &:after{
        display: none;
      }
    }
  }
  &__description{
    margin: 0;
    color: #0081CC;
    font-size: 27px;
    line-height: 1;
    @media screen and (max-width: 560px){
      font-size: 23px;
    }
  }
  &__text{
    margin: 0 0 35px;
    font-size: 20px;
    color: #313131;
    line-height: 1.3;
  }
  &__strong{
    display: block;
  }
  &__button{
    padding: 11px 67px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    background-color: #0081CC;
    display: inline-block;
    border: none;
    outline: none;
    transition: all .3s ease;
    transform: rotate(-3deg);
    box-shadow: 9px 11px 13px -5px rgba(133,133,133,1);
    &:before{
      content: '';
      display: inline-block;
      width: 19px;
      height: 19px;
      background-image: url(../../../images/sale-icon.png);
      background-size: contain;
      vertical-align: middle;
      margin-right: 6px;
    }
    &:after{
      content: '';
      position: absolute;
      right: 24px;
      top: 43%;
      width: 39px;
      height: 53px;
      transform: rotate(3deg);
      background-image: url('../../images/pointer.png');
      background-size: contain;
      pointer-events: none;
    }
    &:hover,
    &:focus{
      color: #fff;
      background-color: #0095e9;
    }
    @media screen and (max-width: 991px){
      margin-bottom: 50px;
    }
    @media screen and (max-width: 470px){
      padding: 11px 27px;
      font-size: 18px;
      transform: none;
      box-shadow: 1px 8px 13px -5px #858585;
      &:after{
        display: none;
      }
    }
  }
  &__video-container{
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
    iframe{
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
    }
  }
}

.s_guia {
  background: #ededed;
  padding: 53px 0 64px; }
.s_guia h2{
  margin: 0;
}
.s_guia span {
  font-family: "PT-Sans", sans-serif;
  font-weight: 700;}
.s_guia ul {
  padding-left: 0; }
.s_guia ul li {
  font-size: 13px;
  color: #000;
  display: flex;
  align-items: center;
  margin: 2px 0; }
.s_guia ul li svg {
  margin-right: 15px;
  width: 80px;
  height: 70px; }
.s_guia ul li svg path {
  fill: #474747; }
.s_guia ul li img {
  margin-right: 15px;
  width: 80px;
  height: 70px;
  -o-object-fit: contain;
  object-fit: contain;
}
.s_guia .section_title h2 span{
  color: #535353;
  text-align: center;
  margin: 0;
  line-height: 0.97em;
  text-transform: uppercase;
  font-weight: bold;
  display: block}
.s_guia .section_title h2 .size1 {
  font-size: 117px;
  font-family: "PT-Sans", sans-serif;
  font-weight: 700;
  color: #ffb400; }
.s_guia .section_title h2 .size2 {
  font-size: 84px; }
.s_guia .section_title h2 .size3 {
  font-size: 58px; }
.s_guia .section_title h2 .size4 {
  font-size: 53px; }
.s_guia .go-to-guide {
  text-align: center;
  padding: 26px 0 0;
  font-size: 20px;
  font-family: "PT-Sans", sans-serif;
  font-weight: 400;
  margin: 0 -30px;}
.s_guia .go-to-guide p{
  line-height: 1.2em;
}
.s_guia .go-to-guide .tegs {
  margin-bottom: 95px; }
.s_guia .go-to-guide .btn-orange {
  padding: 21px 33px;
  background: #ffb400;
  text-transform: uppercase;
  font-family: "PT-Sans", sans-serif;
  font-weight: 700;
  font-size: 31px;
  color: #fff;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  border-radius: 15px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }
.s_guia .go-to-guide .btn-orange:hover {
  color: #fff;
  text-decoration: none;
  background: #ffd91f; }
.s_guia .go-to-guide .btn-orange img {
  margin-right: 20px; }
@media(max-width: 1199px) {
  .s_guia .go-to-guide .tegs {
    margin-bottom: 62px; } }
@media(max-width: 991px) {
  .s_guia .go-to-guide {
    padding: 26px 10px;
    margin: 0;}
  .s_guia ul {
    margin-top: 35px; }
  .s_guia ul li {
    display: inline-flex;
    margin: 2px 11px; } }
@media(max-width: 737px) {
  .s_guia ul li {
    width: 43%;
    justify-content: center; } }
@media(max-width: 421px) {
  .s_guia .go-to-guide .btn-orange{
    padding: 18px 26px;
    font-size: 23px;
  }
  .s_guia ul{
    display: none;
  }
  .s_guia .section_title h2 .size1 {
    font-size: 85px; }
  .s_guia .section_title h2 .size2 {
    font-size: 60px; }
  .s_guia .section_title h2 .size3 {
    font-size: 40px; }
  .s_guia .section_title h2 .size4 {
    font-size: 30px; } }


.s_viagem {
  padding: 56px 0 30px;
  color: #fff;
  position: relative;
  background: #0094E4;
}

.s_viagem>.container{
  background: url(../../images/viagem_bg.png) no-repeat;
  background-position: right center;
}

.block-wrapper{
  display: inline-block;
}

.s_viagem .block {
  text-align: center;
  margin: 0 0 29px;
  position: relative; }
.s_viagem .block:last-child{
  margin-bottom: 0;
}

.s_viagem h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
  margin: 0; }
.s_viagem p {
  font-family: "PT-Sans", sans-serif;
  font-weight: 400;
  font-size: 16px; }

@media screen and (max-width: 1139px){
  .s_viagem>.container{
    background-size: 50%;
  }
}

@media screen and (max-width: 991px){
  .s_viagem>.container{
    background-size: 40%;
  }
}

@media screen and (max-width: 767px){
  .s_viagem>.container{
    background-size: 515px;
    background-position: bottom center;
    padding-bottom: 225px;
  }
  .block-wrapper{
    display: block;
  }
}

@media screen and (max-width: 575px) {
  .s_viagem>.container{
    background: none;
    padding-bottom: 0;
  }
  .s_viagem h3 {
    font-size: 25px;
  }
  .s_viagem p {
    font-size: 14px;
  }
}


/**********Activities slider section*************/

.activities-slider-section{
  background: #fff;
  padding: 54px 0 24px;
}

.activities-slider-section__header{
  text-align: center;
  margin-bottom: 36px;
}

.activities-slider-section__title{
  font-weight: 700;
  font-size: 46px;
  color: #575757;
  margin: 0 0 6px;
  line-height: 1;
}

.activities-slider-section__sub-title{
  margin: 0;
  font-size: 20px;
  color: #747474;
  line-height: 1;
}



.activities-slider{
  position: relative;
}

.activities-slider__link,
.activities-slider__link:hover,
.activities-slider__link:focus,
.activities-slider__link:visited{
  color: #000;
}

.activities-slider__image{
  height: 184px;
  object-fit: cover;
  -o-object-fit: cover;
}

.activities-slider__name{
  font-weight: 700;
  margin: 14px 0 5px;
}

.activities-slider__description{
  margin: 0;
}

.activities-slider__arrow{
  width: 35px;
  height: 35px;
  background: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 87px;
  cursor: pointer;
}

.activities-slider__arrow:before{
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  border: solid #303030;
  border-width: 0 0 3px 3px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.activities-slider__arrow_previous{
  left: -15px;
  -webkit-box-shadow: -3px 0 9px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -3px 0 9px 0 rgba(0, 0, 0, 0.25);
  box-shadow: -3px 0 9px 0 rgba(0, 0, 0, 0.25);
}
.activities-slider__arrow_previous:before{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.activities-slider__arrow_next {
  right: -15px;
  -webkit-box-shadow: 3px 0 9px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 3px 0 9px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 3px 0 9px 0 rgba(0, 0, 0, 0.25);
}
.activities-slider__arrow_next:before{
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

@media screen and (max-width: 767px){

  .activities-slider-section__sub-title{
    font-size: 18px;
  }

  .activities-slider__image{
    height: 130px;
  }

  .activities-slider__arrow{
    top: 50px;
  }

  .activities-slider__arrow_previous{
    left: 0;
  }

  .activities-slider__arrow_next{
    right: 0;
  }
}

@media screen and (max-width: 579px){

  .activities-slider-section__title{
    font-size: 34px;
  }

  .activities-slider__name{
    font-size: 20px;
  }

}

@media screen and (max-width: 399px){

  .activities-slider-section__title{
    font-size: 26px;
  }

  .activities-slider__image{
    height: 180px;
  }

  .activities-slider__arrow{
    top: 80px;
  }

}

/**********END Activities slider section*************/



.s-banner{
  &__form-container{
    background-color: #0b4463;
    padding: 16px 0;
    text-align: center;
    position: relative;
  }
  &__link{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 50;
  }
  &__content{
    position: relative;
    padding: 142px 0 109px;
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    background: url('../../images/banner-background.jpg') no-repeat;
    background-size: cover;
    background-position: center -20px;
    @media screen and (max-width: 1200px){
      background-position: center;
    }
    @media screen and (max-width: 790px){
      padding: 220px 0 0;
      background-position: 10% 0;
    }
    @media screen and (max-width: 560px){
      background-position: 28% 0;
    }
    &:after{
      content: '';
      display: table;
      clear: both;
    }
  }
  &__partners{
    position: absolute;
    left: 30px;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 62px 0 71px;
    margin: 0;
    list-style: none;
    max-width: 225px;
    img{
      max-width: 100%;
    }
    @media screen and (max-width: 790px){
      flex-direction: row;
      max-width: none;
      justify-content: space-between;
      left: 0;
      position: relative;
      padding: 15px 20px;
      background: rgba(255,255,255,0.3);
    }
    @media screen and (max-width: 560px){
      padding: 15px 10px;
      li{
        margin: 0 10px;
      }
    }
  }
  &__proposal{
    float: right;
    width: 541px;
    background-color: rgba(40,40,40,0.5);
    color: #fff;
    font-size: 0;
    padding: 18px 0;
    @media screen and (max-width: 880px){
      width: 460px;
    }
    @media screen and (max-width: 790px){
      float: none;
      width: 100%;
    }
    @media screen and (max-width: 560px){
      padding: 18px 10px;
    }
  }
  &__title{
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    width: 50.4%;
    text-align: center;
    @media screen and (max-width: 560px){
      display: block;
      width: auto;
      border-right: none;
      margin-bottom: 30px;
    }
    strong{
      font-size: 113px;
      display: block;
      line-height: 0.8;
      font-weight: 800;
      letter-spacing: 2px;
      @media screen and (max-width: 880px){
        font-size: 100px;
      }
      &:first-child {
        font-size: 78px;
        @media screen and (max-width: 880px){
          font-size: 68px;
        }
      }
      &:last-child{
        letter-spacing: -3px;
      }
    }
  }
  &__description{
    width: 49.6%;
    font-size: 23px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding: 0 30px;
    @media screen and (max-width: 880px){
      font-size: 18px;
    }
    @media screen and (max-width: 560px){
      display: block;
      width: auto;
    }
    p{
      margin: 0;
      line-height: 1.3;
    }
  }
}

.banner-form{
  display: inline-block;
  text-align: left;
  .jcf-select-banner-form__select{
    border-radius: 4px;
    height: auto;
    width: 295px;
    margin-right: 12px;
    background-image: url('../../images/magnifier-tool.png');
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 16px center;
    @media screen and (max-width: 600px){
      display: block;
      margin:{
        right: 0;
        bottom: 10px;
      }
    }
    .jcf-select-text{
      color: #000;
      font-size: 15px;
      margin: 10px 10px 10px 47px;
    }
    .jcf-select-opener{
      display: none;
    }
  }
  &__date{
    margin-right: 9px;
    overflow: hidden;
    background: transparent url('../../images/calendar-orange.svg') no-repeat;
    background-size: 15px;
    background-position: 0 center;
    position: relative;
    border-radius: 4px;
    border: none;
    display: inline-block;
    vertical-align: top;
    padding: 8px 11px 8px 23px;
    color: #ffffff;
    height: auto;
    font-size: 18px;
    width: 135px;
    font-weight: 700;
    @media screen and (max-width: 600px){
      clear: both;
      float: left;
    }
    &:hover,
    &:focus{
      outline: none;
      border: none;
    }
  }
  &__submit{
    background-color: #E48A00;
    font-weight: 700;
    color: #fff;
    font-size: 18px;
    padding: 12px 29px;
    text-transform: none;
    @media screen and (max-width: 600px){
      float: right;
    }
    &:hover,
    &:focus,
    &:active{
      color: #fff;
      background-color: #fa9c00;
    }
  }
}