@page{
  margin: 0.5cm;
}

@font-face{
  font-family:"PT-Sans";
  font-style:normal;
  font-weight:400;
  src:url('../fonts/PT_Sans/PT_Sans-Regular.eot")');
  src:url("../fonts/PT_Sans/PT_Sans-Regular.woff2") format('woff2'),
      url("../fonts/PT_Sans/PT_Sans-Regular.woff") format('woff'),
      url("../fonts/PT_Sans/PT_Sans-Regular.ttf") format('truetype'),
      url("../fonts/PT_Sans/PT_Sans-Regular.eot?#iefix") format('embedded-opentype');
}

@font-face {
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/PT_Sans/PT_Sans-Bold.eot")');
  src:url("../fonts/PT_Sans/PT_Sans-Bold.woff2") format('woff2'),
      url("../fonts/PT_Sans/PT_Sans-Bold.woff") format('woff'),
      url("../fonts/PT_Sans/PT_Sans-Bold.ttf") format('truetype'),
      url("../fonts/PT_Sans/PT_Sans-Bold.eot?#iefix") format('embedded-opentype');
}

body{
  font-family: "PT-Sans", sans-serif;
  font-size: 14px;
}

a{
  text-decoration: none;
  color: #0a1f1f;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media print{

  .print-header{
    position: relative;
    background-color: #e5e5e5 !important;
    -webkit-print-color-adjust: exact;
    padding: 14px 106px;
    margin-bottom: 31px;
  }

  .print-header img{
    position: absolute;
    opacity: 0.5;
    top: 10px;
  }

  .print-header img:nth-child(1){
    left: 23px;
    width: 22px;
    height: 23px;
  }

  .print-header img:nth-child(2){
    right: 23px;
    height: 26px;
    width: 19px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .list-box{
    display: block;
    margin: 0 0 15px 60px;
  }

  .list-box .title {
    display: block;
    font-weight: bold;
    padding: 0 0 5px 10px;
  }

  .list-box ul {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .list-box ul li {
    position: relative;
    padding: 0 0 5px 10px;
  }

  .list-box ul li:after{
    content: "\2022";
    position: absolute;
    left: 0;
    top: 0;
    font-size: 9px;
    color: #089f02 !important;
  }

  .order-item{
    border: 1px solid #b2b2b2;
    margin-bottom: 28px;
    padding: 0 25px;
    display: block;
    page-break-inside: avoid;
  }

  header{
    padding: 20px 0 0 10px;
    margin: 0 0 20px;
  }

  .ico{
    margin: 2px 10px 0 0;
    position: relative;
    left: auto;
    top: auto;
    width: 51px;
    float: left;
  }

  .ico img{
    width: 100%;
    display: block;
    height: auto;
  }

  h2{
    margin: 0;
    font-weight: 400;
    font-size: 31px;
    line-height: 31px;
  }

  h2 a{
    color: #089f02 !important;
    font-size: 20pt;
    text-transform: uppercase;
  }

  h2 a:after{
    content: "";
  }

  .timing-icon{
    position: absolute;
    width: 18px;
    top: 2px;
    left: -27px;
  }

  .sub-title{
    display: block;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
  }

  .sub-title span{
    padding-left: 10px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
  }

  .cols-row{
    margin-left: -11px;
    margin-right: -11px;
  }
  .cols-row:before,
  .cols-row:after{
    content: "";
    display: table;
  }
  .cols-row:after{
    clear: both;
  }

  .col{
    float: left;
    width: 50%;
    padding: 0 11px 15px;
    position: relative;
    margin: 0;
  }

  .timing{
    padding-left: 25px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    display: inline-block;
    list-style: none;
  }

  .timing li{
    position: relative;
    padding: 0 0 10px;
  }

  .timing strong{
    display: block;
    font-weight: normal;
  }

  .timing strong.title{
    color: #963d4c !important;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
  }

  .timing li.person{
    padding: 5px 0 15px;
  }

  .timing li.money .timing-icon{
    margin-top: 6px;
  }

  .print-item-header{
    text-align: right;
    padding: 12px 0;
    border-bottom: 1px solid #c4c4c4;
  }

  .print-item-header img{
    width: 161px;
  }

  .print-item-header a:after,
  .print-item-footer a:after{
    content: "";
  }

  .print-item-footer{
    text-align: center;
    padding: 12px 0;
    border-top: 1px solid #c4c4c4;
  }

}