@import "./common";
@import "../../../public/libs/product-tour/product-tour.min";
@import "components/reservation-sidebar";
@import "components/offer-items";

%inline-block_top{
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}

.reservation-page{
  &__header{
    margin-bottom: 31px;
  }
  &__title{
    font-size: 18px;
    font-weight: 700;
    margin: 0;
  }
  &__description{
    margin: 0;
  }
}

.picked-offers{
  &__title{
    font-size: 25px;
    font-weight: 700;
    background-color: #353535;
    margin:{
      top: 0;
      bottom: 22px;
      left: -17px;
      right: -60px;
    }
    color: #fff;
    text-align: center;
    padding: 12px 0;
  }
}

.chosen-offers-list{
  margin: 0;
  padding: 0;
  list-style: none;
  &__header{
    margin-bottom: 26px;
  }
  &__name{
    margin: 0;
    text-transform: uppercase;
    line-height: 1;
  }
  &__name-link{
    color: #353535;
    font-weight: 700;
    font-size: 25px;
    &:hover,
    &:focus{
      color: #353535;
    }
  }
  &__agency{
    margin: 0;
    font-size: 17px;
    line-height: 1;
  }
  &__agency-address{
    font-size: 12px;
    margin-left: 2px;
  }
  &__information{
    position: relative;
    font-size: 0;
  }
  &__you-should-take{
    @extend %inline-block_top;
    padding-right: 20px;
    width: 50%;
  }
  &__order-information{
    @extend %inline-block_top;
    width: 50%;
  }
}

.you-should-take{
  padding-left: 9px;
  &__list{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item{
    position: relative;
    &:before{
      content: "";
      width: 3px;
      height: 3px;
      background-color: #089f02;
      border-radius: 50%;
      position: absolute;
      left: -9px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
}

.order-information-list{
  margin: 0;
  padding: 0 0 0 28px;
  list-style: none;
  &__item{
    padding-bottom: 12px;
    border-bottom: 1px solid #d9d9d9;
    &:last-child{
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}


.your-reservation .accordion h2 {
  font-size: 31px;
  line-height: 31px;
}

.your-reservation .accordion h2 a{
  color: #089f02;
}

.your-reservation .accordion .ico {
  margin: 2px 10px 0 0;
  position: relative;
  left: auto;
  top: auto;
  width: 51px;
}

/*---- RESERVATION PAGE UPDATE ---*/

.s-reservar{
  margin-top: 30px;
  .your-reservation{
    .head{
      padding: 0 16px;
      margin-right: -12%;
      p{
        font-size: 14px;
        font-family:  'PT-Sans', sans-serif;
        font-weight: 400;
        margin:  0 0 10px;
        a{
          font-family: 'PT-Sans', sans-serif;
          font-weight: 700;
          color:  #000;
        }
      }
    }
    .list-box{
      margin: 0 0 15px 10px;
    }
    .timing{
      overflow: visible;
      display: inline-block;
      li{
        padding: 0 0 10px;
        &.person{
          padding: 5px 0 0;
        }
        &:after{
          display: none;
        }
      }
    }
    .price{
      padding: 0;
      position: absolute;
      bottom: 15px;
      right:  0;
    }
  }
  .activity_description{
    position: relative;
    padding-bottom: 15px;
  }
}

.s_moredetails{
  margin-top: 30px;
}

/*---- END RESERVATION PAGE UPDATE ---*/

.timing-icon{
  position: absolute;
  width: 18px;
  top: 2px;
  left: -27px;
}

.carrio-heading {
  margin-top: 24px;
  font-size: 18px;
  font-weight: 700;
  color: #474a4c;
}

.head {
  overflow: hidden;
  max-width: 813px;
  padding: 0 0 12px;
  border-bottom: 1px solid #e4e4e4;
}

.head .sub-title {
  display: block;
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.head .sub-title span {
  display: block;
  font-weight: bold;
}

.head .sub-title a {
  color: #089f02;
}

.head .sub-title a:hover {
  text-decoration: underline;
}

.head p {
  margin: 0 0 30px;
}