@import "./common";
@import "../../../public/libs/product-tour/product-tour.min";
@import "components/reservation-sidebar";
@import "components/you-should-take";

%inline-block_top{
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}

.reservation-page{
  &__header{
    margin-bottom: 31px;
  }
  &__title{
    font-size: 35px;
    color: rgb(243,175,24);
    font-weight: 700;
    margin-top: 50px;
  }
  &__description{
    margin: 0;
    .user-name {
      font-weight: bold;
    }
  }
}

.picked-offers{
  padding-bottom: 39px;
  &_special{
    padding-bottom: 4px;
  }
  &__title{
    font-size: 25px;
    font-weight: 700;
    background-color: #353535;
    margin:{
      top: 0;
      bottom: 22px;
      left: -17px;
      right: -60px;
    }
    color: #fff;
    text-align: center;
    padding: 12px 0;
    @media screen and (max-width: 991px){
      margin: 0 0 22px;
    }
    &_special{
      background-color: #008DD0;
      &:after{
        content: '';
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
        width: 23px;
        height: 23px;
        background-image: url(../../images/sale-icon.png);
        background-size: contain;
      }
    }
  }
}

.chosen-offers-list{
  margin: 0;
  padding: 0;
  list-style: none;
  &__item{
    padding-bottom: 30px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 20px;
    &:last-child{
      padding-bottom: 0;
      border-bottom: none;
      margin-bottom: 0;
    }
    &_special:last-child{
      padding-bottom: 30px;
      border-bottom: 1px solid #d9d9d9;
    }
  }
  &__header{
    margin-bottom: 26px;
    &_special{
      margin-bottom: 18px;
    }
  }
  &__name{
    margin: 0;
    text-transform: uppercase;
    line-height: 1;
  }
  &__name-link{
    color: #353535;
    font-weight: 700;
    font-size: 25px;
    &:hover,
    &:focus{
      color: #353535;
    }
  }
  &__agency{
    margin: 0;
    font-size: 17px;
    line-height: 1;
  }
  &__agency-address{
    font-size: 12px;
    margin-left: 2px;
  }
  &__information{
    position: relative;
    font-size: 0;
    padding-right: 150px;
    margin-bottom: 33px;
    &_special{
      padding-right: 0;
      margin-bottom: 0;
    }
    @media screen and (max-width: 580px){
      margin-bottom: 20px;
      padding-right: 0;
    }
  }
  &__you-should-take{
    @extend %inline-block_top;
    padding-right: 20px;
    width: 50%;
    @media screen and (max-width: 460px){
      display: block;
      width: 100%;
      margin-bottom: 20px;
    }
  }
  &__request-sent{
    @extend %inline-block_top;
    width: 50%;
    font-size: 15px;
    margin: 0;
    padding-right: 10px;
    @media screen and (max-width: 580px){
      display: block;
      width: 100%;
      margin-bottom: 20px;
    }
  }
  &__order-information{
    @extend %inline-block_top;
    width: 50%;
    @media screen and (max-width: 460px){
      display: block;
      width: 100%;
    }
    &_special{
      @media screen and (max-width: 580px){
        width: 100%;
      }
    }
  }
  &__price{
    font-size: 25px;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #ebb414;
    font-weight: 700;
    @media screen and (max-width: 580px){
      position: relative;
      display: block;
      text-align: right;
      margin-top: 25px;
    }
    @media screen and (max-width: 460px){
      text-align: left;
    }
  }
  &__currency-sign{
    font-size: 18px;
    margin-right: 2px;
  }
  &__additional-information{
    font-size: 15px;
    padding: 10px;
    padding-left: 50px;
    background-color: #9c3b4c;
    color: white;
    background-size: 22px;
    background-image: url('../../images/warning-white.svg');
    background-position: 10px 44%;
    background-repeat: no-repeat;
  }
  &__important{
    margin: 0 0 7px;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      left: -27px;
      top: 0;
      width: 18px;
      height: 16px;
    }
  }
  &__cancellation{
    margin: 0;
  }
}

.order-information-list{
  margin: 0;
  padding: 0 0 0 28px;
  list-style: none;
  display: inline-block;
  &__item{
    padding-bottom: 11px;
    border-bottom: 1px solid #d9d9d9;
    position: relative;
    margin-bottom: 4px;
    &:last-child{
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: -25px;
      width: 18px;
      height: 18px;
      background-size: contain;
    }
    &_time:before{
      background-image: url('../../images/clock.svg');
    }
    &_persons:before{
      background-image: url('../../images/happy.svg');
    }
    &_special{
      display: inline-block;
      margin-right: 50px;
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
      &:last-child{
        margin-right: 0;
      }
    }
  }
  &__point{
    margin: 0;
    &_date{
      font-size: 16px;
      color: #963d4c;
    }
  }
}

.s-more-details{
  margin: 80px 0 60px;
  font-size: 15px;
  &__paragraph{
    margin: 0 0 21px;
  }
  &__title{
    color: #474a4c;
    font-size: 18px;
    margin-bottom: 3px;
  }
}


.s-offers{
  margin-bottom: -40px;
  &__header{
    background-color: #353535;
    padding: 11px 5px;
    position: relative;
    margin-bottom: 22px;
    text-align: center;
    &_special{
      background-color: #008DD0;
    }
    @media screen and (max-width: 767px){
      margin:{
        left: -11px;
        right: -11px;
        bottom: 22px;
      }
    }
  }
  &__title{
    font-weight: 700;
    font-size: 25px;
    color: #fff;
    margin: 0;
    &_special:after{
      content: '';
      position: relative;
      display: inline-block;
      vertical-align: top;
      margin-left: 10px;
      width: 23px;
      height: 23px;
      background-image: url(../../images/sale-icon.png);
      -webkit-background-size: contain;
      background-size: contain;
    }
  }
  &__print-button{
    position: absolute;
    right: 10px;
    top: 8px;
    border-radius: 3px;
    background-color: #ebebeb;
    background-image: url('../../images/printer-green-icon.png');
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 12px 6px;
    border: none;
    outline: none;
    font-size: 15px;
    padding:{
      right: 18px;
      top: 7px;
      bottom: 8px;
      left: 40px;
    }
    transition: all .2s ease;
    &:hover,
    &:focus{
      background-color: #fdfdfd;
    }
    @media screen and (max-width: 1199px){
      position: relative;
      right: 0;
      top: 0;
      margin-top: 10px;
    }
    @media screen and (max-width: 991px){
      display: none;
    }
    @media screen and (max-width: 470px){
      padding: 7px 18px;
      background-image: none;
    }
  }
}

.your-offers{
  padding: 0 15px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  margin-right: -60px;
  &_show-checkboxes{
    .your-offers__check-offer{
      display: block;
    }
  }
  @media screen and (max-width: 600px){
    margin-right: 0;
  }
  &__item{
    width: calc( 33.333% - 60px );
    position: relative;
    //padding-bottom: 67px;
    margin:{
      right: 60px;
      bottom: 50px;
    }
    h3{
      padding-top: 20px;
    }
    &:after{
      content: '';
      position: absolute;
      top: 0;
      right: -30px;
      height: 100%;
      width: 1px;
      background-color: #e5e5e5;
    }
    &:nth-child(3n-3):after{
      display: none;
    }
     &:last-child:after{
      display: none;
    }
    &_special{
      @media screen and (max-width: 1139px){
        width: calc( 50% - 60px );
        &:nth-child(3n-3):after{
          display: block;
        }
        &:nth-child(even):after{
          display: none;
        }
      }
    }
    @media screen and (max-width: 991px){
      width: calc( 50% - 60px );
      &:nth-child(4n-4):after{
        display: block;
      }
    }
    @media screen and (max-width: 991px) and (min-width: 767px){
      width: calc( 33.333% - 60px );
    }

    @media screen and (max-width: 600px){
      width: 100%;
      margin-right: 0;
      padding-bottom: 0;
      &:after{
        display: none;
      }
    }
  }
  &__check-offer{
    position: absolute;
    right: -20px;
    top: 5px;
    z-index: 900;
    border: 2px solid #000;
    width: 16px;
    height: 16px;
    margin: 0;
    border-radius: 2px;
    cursor: pointer;
    display: none;
    input[type=checkbox]{
      display: none;
      &:checked ~ .glyphicon{
        opacity: 1;
      }
    }
    .glyphicon{
      position: absolute;
      top: -6px;
      left: 0;
      margin: 0;
      font-size: 18px;
      color: #089f02;
      opacity: 0;
    }
    &:hover .glyphicon{
      opacity: 0.5;
    }
    @media screen and (max-width: 991px){
      display: none !important;
    }
  }
  &__name{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 9px;
    line-height: 1;
  }
  &__name-link{
    color: black;
    &:hover,
    &:focus{
      color: #606060;
    }
    &_special{
      color: #0081CC;
      position: relative;
      &:hover,
      &:focus{
        color: #00a0f7;
      }
      &:before{
        content: '';
        display: inline-block;
        width: 23px;
        height: 23px;
        background-image: url(../../../images/sale.png);
        background-size: contain;
        vertical-align: middle;
        margin-right: 2px;
        position: relative;
        top: -2px;
      }
    }
  }
  &__paragraph{
    margin: 0 0 3px;
    line-height: 1;
    .price{
      color: #ebb414;
      font-weight: 700;
      font-size: 16px;
      &_line-through{
        text-decoration: line-through;
        color: #868686;
        margin:{
          left: 4px;
          right: 6px;
        }
      }
    }
  }
  &__info-block{
    margin-bottom: 18px;
  }
  &__cancel{
    text-align: left;
    margin-top: 35px;
    bottom: 0;
    width: 100%;
    left: 0;
    cursor: pointer;
    @media screen and (max-width: 600px){
      height: auto;
      position: relative;
    }
  }
  &__cancel-button{
    display: inline-block;
    font-size: 13px;
    color: #972639;
    font-weight: 700;
    vertical-align: middle;
    text-transform: uppercase;
    &:before{
      content: '';
      display: inline-block;
      vertical-align: middle;
      position: relative;
      width: 23px;
      height: 23px;
      background: url(../../images/cancel-button.svg) no-repeat;
      background-size: contain;
      margin-right: 8px;
      top: -2px;
    }
    &:hover,
    &:focus{
      color: #b3283d;
    }
  }
  &__special-offers{
    border-top: 1px solid #e5e5e5;
    padding-top: 10px;
  }
}



/*for vertically centering the modal*/
.modal {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}


#cancelActivityModal{
  .modal-sm {
    width: 350px; /* New width for small modal */
  }
  .modal-header {
    color: rgb(0,0,0);
    background: white;
    .close {
      opacity: 0.3;
      background: url(../../../images/siteImages/cancel-svg.png) no-repeat;
      background-size: 100% 100%;
    }
    .modal-title {
      font-size: 15px;;
      padding-left: 10px;
      font-weight: normal;
    }

  }
  .modal-content {
    font-size: 15px;
    background: white;
    .theActivity{
      padding-left: 17px;
      h3{
        margin-left: -5px;
      }
    }
  }
  .modal-footer{
    .btn-warning{
      background-color: #F2B41B;
      font-weight: bold;
      text-transform: none;
      font-size: 17px;
      margin-bottom: 14px;
    }
  }
}



.activity-basket {
  background-color: #fff0c8;
  border-radius: 4px;
  font-size: 15px;
  header {
    margin-bottom: 19px;
    padding: 15px 14px 5px 15px
  }
  dl {
    margin-bottom: 9px;
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
  dt, dd {
    float: left;
  }
  dt {
    width: 35%;
    text-align: right;
  }
  dd {
    width: 65%;
    padding-left: 8px;
  }
  &__confirms-list {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      position: relative;
      padding-left: 18px;
    }
    button {
      position: absolute;
      border: none;
      outline: none;
      background-color: #ebb414;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      padding: 0;
      &:before {
        content: '';
        position: absolute;
        width: 6px;
        height: 2px;
        background-color: #f9edc0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
  footer {
    border-top: 1px solid #e2e1d3;
    background-color: #f2b41b;
    padding-top: 7px;
    text-align: center;
    height: 59px;
    a {
      display: inline-block;
      vertical-align: middle;
      font-weight: 700;
      &:hover,
      &:focus {
        opacity: 0.6;
      }
    }
    .col-xs-6:last-child {
      border-left: 0.5px solid whitesmoke;
    }
    .row{
      padding: 9px 0 15px 0;
    }
  }
  &__to-calendar {
    color: white;
    background: url('../../images/calendar-orange.svg') no-repeat 0 center;
    background-size: 15px;
    padding-top: 4px;
    &:hover,
    &:focus {
      color: white;
    }
    @media screen and (max-width: 991px) {
      float: right;
    }
  }
  &__to-reserve {
    background: #f2b41b url('../../images/check-icon.pn') no-repeat 7px center;
    background-size: 19px;
    color: #ffffff;
    border-radius: 4px;
    font-size: 20px;
    &:hover,
    &:focus {
      color: #ffffff;
    }
  }
}